{
  "openapi": "3.1.0",
  "info": {
    "title": "Sendmux API",
    "version": "1.0.0",
    "description": "Programmatic access to your Sendmux email infrastructure."
  },
  "servers": [
    { "url": "https://app.sendmux.ai/api/v1", "description": "API v1" }
  ],
  "security": [{ "bearerAuth": [] }],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Sendmux API key. Use a root API key for Management API routes, or a mailbox credential for Mailbox API routes. Obtain keys from the dashboard under API Keys."
      }
    },
    "schemas": {
      "ResponseMeta": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          }
        },
        "required": ["request_id"],
        "additionalProperties": false
      },
      "CursorPagination": {
        "type": "object",
        "properties": {
          "has_more": { "type": "boolean" },
          "next_cursor": { "type": "string" }
        },
        "required": ["has_more"],
        "additionalProperties": false
      },
      "SuccessEnvelope": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "enum": [true] },
          "meta": {
            "type": "object",
            "properties": {},
            "additionalProperties": {}
          }
        },
        "required": ["ok", "meta"]
      },
      "ApiErrorDetail": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Dot-path of the offending request field.",
            "example": "recipient.email"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable issue code from the validator (e.g. zod issue code).",
            "example": "invalid_string"
          },
          "message": {
            "type": "string",
            "description": "Human-readable issue description."
          }
        },
        "required": ["field", "code", "message"],
        "additionalProperties": false
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "ok": { "type": "boolean", "enum": [false] },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_parameter",
                  "missing_parameter",
                  "authentication_required",
                  "insufficient_permissions",
                  "not_found",
                  "conflict",
                  "limit_exceeded",
                  "idempotency_conflict",
                  "payload_too_large",
                  "validation_error",
                  "rate_limit_exceeded",
                  "service_unavailable",
                  "internal_error"
                ],
                "description": "Machine-readable error code",
                "example": "invalid_parameter"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description"
              },
              "param": {
                "type": "string",
                "description": "The parameter that caused the error"
              },
              "doc_url": {
                "type": "string",
                "description": "Link to relevant documentation"
              },
              "retryable": {
                "type": "boolean",
                "description": "Whether the caller may safely retry this request. 4xx are typically false (except 429); 5xx are typically true.",
                "example": false
              },
              "errors": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ApiErrorDetail" },
                "description": "Accumulated per-field issues for validation errors. Only present on 400/422 responses."
              }
            },
            "required": ["code", "message", "retryable"],
            "additionalProperties": false
          },
          "meta": {
            "type": "object",
            "properties": {
              "request_id": {
                "type": "string",
                "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
              }
            },
            "required": ["request_id"],
            "additionalProperties": false
          }
        },
        "required": ["ok", "error", "meta"],
        "additionalProperties": false
      },
      "ProviderTypeCounts": {
        "type": "object",
        "properties": {
          "smtp": {
            "type": "number",
            "description": "Number of SMTP accounts",
            "example": 6
          },
          "gmail_api": {
            "type": "number",
            "description": "Number of Gmail API accounts",
            "example": 4
          },
          "outlook_api": {
            "type": "number",
            "description": "Number of Outlook API accounts",
            "example": 2
          },
          "amazon_ses": {
            "type": "number",
            "description": "Number of shared Amazon SES accounts",
            "example": 1
          }
        },
        "required": ["smtp", "gmail_api", "outlook_api", "amazon_ses"],
        "additionalProperties": false
      },
      "ProviderStatusCounts": {
        "type": "object",
        "properties": {
          "active": { "type": "number", "example": 8 },
          "inactive": { "type": "number", "example": 3 },
          "error": { "type": "number", "example": 1 },
          "pending": { "type": "number", "example": 0 }
        },
        "required": ["active", "inactive", "error", "pending"],
        "additionalProperties": false
      },
      "ProviderStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of sending accounts",
            "example": 12
          },
          "active": {
            "type": "number",
            "description": "Accounts with status 'active'",
            "example": 8
          },
          "inactive": {
            "type": "number",
            "description": "Accounts with status 'inactive'",
            "example": 3
          },
          "error": {
            "type": "number",
            "description": "Accounts with status 'error'",
            "example": 1
          },
          "pending": {
            "type": "number",
            "description": "Accounts with status 'pending'",
            "example": 0
          },
          "by_type": { "$ref": "#/components/schemas/ProviderTypeCounts" },
          "by_status": { "$ref": "#/components/schemas/ProviderStatusCounts" }
        },
        "required": [
          "total",
          "active",
          "inactive",
          "error",
          "pending",
          "by_type",
          "by_status"
        ],
        "additionalProperties": false
      },
      "ProviderStatsResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/ProviderStats" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "ProviderAllowedActions": {
        "type": "object",
        "properties": {
          "update": { "type": "boolean" },
          "delete": { "type": "boolean" },
          "activate": { "type": "boolean" },
          "deactivate": { "type": "boolean" },
          "test": { "type": "boolean" }
        },
        "required": ["update", "delete", "activate", "deactivate", "test"],
        "additionalProperties": false
      },
      "ProviderQuotaRange": {
        "type": ["object", "null"],
        "properties": {
          "min": { "type": "integer", "exclusiveMinimum": 0, "example": 60 },
          "max": { "type": "integer", "exclusiveMinimum": 0, "example": 60 }
        },
        "required": ["min", "max"],
        "additionalProperties": false
      },
      "ProviderQuotas": {
        "type": "object",
        "properties": {
          "per_second": { "$ref": "#/components/schemas/ProviderQuotaRange" },
          "per_minute": { "$ref": "#/components/schemas/ProviderQuotaRange" },
          "per_hour": { "$ref": "#/components/schemas/ProviderQuotaRange" },
          "per_day": { "$ref": "#/components/schemas/ProviderQuotaRange" }
        },
        "required": ["per_second", "per_minute", "per_hour", "per_day"],
        "additionalProperties": false
      },
      "ProviderItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Sending account public ID",
            "example": "dprov_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "name": {
            "type": "string",
            "description": "Display name",
            "example": "Transactional SMTP"
          },
          "type": {
            "type": "string",
            "enum": ["smtp", "gmail_api", "outlook_api", "amazon_ses"],
            "description": "Sending account type. `amazon_ses` is the shared managed account.",
            "example": "smtp"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "error", "pending"],
            "description": "Current sending account status.",
            "example": "active"
          },
          "status_reason": {
            "type": ["string", "null"],
            "description": "Public-safe reason for the current status."
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether this account is enabled for sending."
          },
          "is_shared": {
            "type": "boolean",
            "description": "True for the team's shared Amazon SES account."
          },
          "is_editable": {
            "type": "boolean",
            "description": "False when the account is platform-managed."
          },
          "allowed_actions": {
            "$ref": "#/components/schemas/ProviderAllowedActions"
          },
          "smtp_host": {
            "type": ["string", "null"],
            "description": "SMTP host for custom SMTP accounts."
          },
          "smtp_port": {
            "type": ["integer", "null"],
            "description": "SMTP port for custom SMTP accounts."
          },
          "smtp_protocol": {
            "type": ["string", "null"],
            "description": "SMTP security mode."
          },
          "smtp_username": {
            "type": ["string", "null"],
            "description": "SMTP username for custom SMTP accounts."
          },
          "has_smtp_password": {
            "type": "boolean",
            "description": "Whether a custom SMTP password is stored."
          },
          "from_email": {
            "type": ["string", "null"],
            "description": "Default From email address."
          },
          "from_name": {
            "type": ["string", "null"],
            "description": "Default From display name."
          },
          "reply_to_email": {
            "type": ["string", "null"],
            "description": "Default Reply-To email address."
          },
          "reply_to_name": {
            "type": ["string", "null"],
            "description": "Default Reply-To display name."
          },
          "oauth_email": {
            "type": ["string", "null"],
            "description": "Connected account email for OAuth accounts."
          },
          "has_refresh_token": {
            "type": "boolean",
            "description": "Whether an OAuth account has an active connection token."
          },
          "quotas": { "$ref": "#/components/schemas/ProviderQuotas" },
          "percentage": {
            "type": ["integer", "null"],
            "description": "Routing weight percentage.",
            "example": 100
          },
          "tracking_domain": {
            "type": ["string", "null"],
            "description": "Custom tracking hostname."
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp",
            "example": "2026-05-25T02:18:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "ISO 8601 last update timestamp",
            "example": "2026-05-25T02:18:00Z"
          },
          "last_tested_at": {
            "type": ["string", "null"],
            "description": "Last connection test timestamp."
          },
          "last_used_at": {
            "type": ["string", "null"],
            "description": "Last send timestamp."
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "status",
          "status_reason",
          "is_active",
          "is_shared",
          "is_editable",
          "allowed_actions",
          "smtp_host",
          "smtp_port",
          "smtp_protocol",
          "smtp_username",
          "has_smtp_password",
          "from_email",
          "from_name",
          "reply_to_email",
          "reply_to_name",
          "oauth_email",
          "has_refresh_token",
          "quotas",
          "percentage",
          "tracking_domain",
          "created_at",
          "updated_at",
          "last_tested_at",
          "last_used_at"
        ],
        "additionalProperties": false
      },
      "ProviderItemCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/ProviderItem" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "ProviderItemResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/ProviderItem" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "ProviderCreateBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "Transactional SMTP"
          },
          "smtp_host": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "smtp.example.com"
          },
          "smtp_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "example": 587
          },
          "smtp_protocol": {
            "type": "string",
            "enum": ["tls", "ssl", "none", "starttls"],
            "example": "starttls"
          },
          "smtp_username": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "api-user"
          },
          "smtp_password": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "example": "smtp-password"
          },
          "from_email": {
            "type": ["string", "null"],
            "maxLength": 255,
            "format": "email",
            "example": "sender@example.com"
          },
          "from_name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "example": "Acme"
          },
          "reply_to_email": {
            "type": ["string", "null"],
            "maxLength": 255,
            "format": "email",
            "example": "support@example.com"
          },
          "reply_to_name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "example": "Support"
          },
          "quotas": {
            "type": "object",
            "properties": {
              "per_second": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              },
              "per_minute": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              },
              "per_hour": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              },
              "per_day": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              }
            },
            "additionalProperties": false
          },
          "percentage": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "example": 100
          },
          "tracking_domain": {
            "type": ["string", "null"],
            "maxLength": 255,
            "example": "click.example.com"
          }
        },
        "required": [
          "name",
          "smtp_host",
          "smtp_port",
          "smtp_protocol",
          "smtp_username",
          "smtp_password"
        ],
        "additionalProperties": false
      },
      "ProviderUpdateBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "Transactional SMTP"
          },
          "smtp_host": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "smtp.example.com"
          },
          "smtp_port": {
            "type": "integer",
            "minimum": 1,
            "maximum": 65535,
            "example": 587
          },
          "smtp_protocol": {
            "type": "string",
            "enum": ["tls", "ssl", "none", "starttls"],
            "example": "starttls"
          },
          "smtp_username": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "example": "api-user"
          },
          "from_email": {
            "type": ["string", "null"],
            "maxLength": 255,
            "format": "email",
            "example": "sender@example.com"
          },
          "from_name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "example": "Acme"
          },
          "reply_to_email": {
            "type": ["string", "null"],
            "maxLength": 255,
            "format": "email",
            "example": "support@example.com"
          },
          "reply_to_name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "example": "Support"
          },
          "quotas": {
            "type": "object",
            "properties": {
              "per_second": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              },
              "per_minute": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              },
              "per_hour": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              },
              "per_day": {
                "anyOf": [
                  { "type": "integer", "exclusiveMinimum": 0 },
                  {
                    "allOf": [
                      { "$ref": "#/components/schemas/ProviderQuotaRange" },
                      { "type": "object" }
                    ]
                  },
                  { "type": "null" }
                ],
                "description": "Quota value. Use a number for a fixed cap, a min/max range, or null to clear on PATCH."
              }
            },
            "additionalProperties": false
          },
          "percentage": {
            "type": "integer",
            "minimum": 0,
            "maximum": 100,
            "example": 100
          },
          "tracking_domain": {
            "type": ["string", "null"],
            "maxLength": 255,
            "example": "click.example.com"
          },
          "smtp_password": {
            "type": "string",
            "minLength": 1,
            "maxLength": 500,
            "example": "new-smtp-password"
          }
        },
        "additionalProperties": false
      },
      "ProviderDeleted": {
        "type": "object",
        "properties": {
          "deleted": { "type": "boolean", "enum": [true] },
          "id": { "type": "string" }
        },
        "required": ["deleted", "id"],
        "additionalProperties": false
      },
      "ProviderDeletedResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/ProviderDeleted" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "ProviderTestResult": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean", "example": true },
          "message": { "type": "string", "example": "Connection verified." },
          "latency_ms": { "type": "integer", "minimum": 0, "example": 182 },
          "tested_at": { "type": "string", "example": "2026-05-25T02:18:00Z" }
        },
        "required": ["success", "message", "latency_ms", "tested_at"],
        "additionalProperties": false
      },
      "ProviderTestResultResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/ProviderTestResult" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "ProviderUsageItem": {
        "type": "object",
        "properties": {
          "provider_id": { "type": "string" },
          "sent_today": { "type": "integer", "minimum": 0 },
          "total_7d": { "type": "integer", "minimum": 0 },
          "sent_7d": { "type": "integer", "minimum": 0 },
          "failed_7d": { "type": "integer", "minimum": 0 },
          "rejected_7d": { "type": "integer", "minimum": 0 },
          "pending_7d": { "type": "integer", "minimum": 0 }
        },
        "required": [
          "provider_id",
          "sent_today",
          "total_7d",
          "sent_7d",
          "failed_7d",
          "rejected_7d",
          "pending_7d"
        ],
        "additionalProperties": false
      },
      "ProviderUsage": {
        "type": "object",
        "properties": {
          "window_days": { "type": "number", "enum": [7] },
          "providers": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/ProviderUsageItem" }
          }
        },
        "required": ["window_days", "providers"],
        "additionalProperties": false
      },
      "ProviderUsageResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/ProviderUsage" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "ResourceLimitSnapshot": {
        "type": "object",
        "properties": {
          "resource_type": { "type": "string", "example": "sending_accounts" },
          "usage": { "type": "integer", "minimum": 0 },
          "max_allowed": { "type": "integer", "exclusiveMinimum": 0 },
          "reserved": { "type": "integer", "minimum": 0 },
          "threshold_usage": { "type": "integer", "minimum": 0 },
          "usage_ratio": { "type": "number" },
          "is_at_limit": { "type": "boolean" },
          "is_near_limit": { "type": "boolean" },
          "can_request_increase": { "type": "boolean" },
          "pending_request_id": { "type": ["string", "null"] }
        },
        "required": [
          "resource_type",
          "usage",
          "max_allowed",
          "reserved",
          "threshold_usage",
          "usage_ratio",
          "is_at_limit",
          "is_near_limit",
          "can_request_increase",
          "pending_request_id"
        ],
        "additionalProperties": false
      },
      "SharedAmazonSesLimit": {
        "type": "object",
        "properties": {
          "provider_id": { "type": ["string", "null"] },
          "daily_limit": { "type": ["integer", "null"], "minimum": 0 },
          "sent_today": { "type": "integer", "minimum": 0 },
          "threshold_usage": { "type": ["integer", "null"], "minimum": 0 },
          "usage_ratio": { "type": ["number", "null"] },
          "is_near_limit": { "type": "boolean" },
          "can_request_increase": { "type": "boolean" },
          "pending_request_id": { "type": ["string", "null"] }
        },
        "required": [
          "provider_id",
          "daily_limit",
          "sent_today",
          "threshold_usage",
          "usage_ratio",
          "is_near_limit",
          "can_request_increase",
          "pending_request_id"
        ],
        "additionalProperties": false
      },
      "ProviderLimits": {
        "type": "object",
        "properties": {
          "sending_accounts": {
            "$ref": "#/components/schemas/ResourceLimitSnapshot"
          },
          "shared_amazon_ses": {
            "$ref": "#/components/schemas/SharedAmazonSesLimit"
          }
        },
        "required": ["sending_accounts", "shared_amazon_ses"],
        "additionalProperties": false
      },
      "ProviderLimitsResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/ProviderLimits" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "SendingAccountLimitRequest": {
        "type": "object",
        "properties": {
          "request_id": {
            "type": "string",
            "example": "trir_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "limit": { "$ref": "#/components/schemas/ResourceLimitSnapshot" }
        },
        "required": ["request_id", "limit"],
        "additionalProperties": false
      },
      "SendingAccountLimitRequestResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "$ref": "#/components/schemas/SendingAccountLimitRequest"
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "SharedAmazonSesLimitRequest": {
        "type": ["object", "null"],
        "properties": {
          "id": {
            "type": "string",
            "example": "slir_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "status": {
            "type": "string",
            "enum": ["pending", "approved", "denied"]
          },
          "current_daily_limit": { "type": "integer", "minimum": 0 },
          "current_daily_sent": { "type": "integer", "minimum": 0 },
          "approved_daily_limit": {
            "type": ["integer", "null"],
            "exclusiveMinimum": 0
          },
          "decision_note": { "type": ["string", "null"] },
          "created_at": { "type": "string" },
          "decided_at": { "type": ["string", "null"] }
        },
        "required": [
          "id",
          "status",
          "current_daily_limit",
          "current_daily_sent",
          "approved_daily_limit",
          "decision_note",
          "created_at",
          "decided_at"
        ],
        "additionalProperties": false
      },
      "SharedAmazonSesLimitRequestPage": {
        "type": "object",
        "properties": {
          "limit": { "$ref": "#/components/schemas/SharedAmazonSesLimit" },
          "pending_request": {
            "$ref": "#/components/schemas/SharedAmazonSesLimitRequest"
          }
        },
        "required": ["limit", "pending_request"],
        "additionalProperties": false
      },
      "SharedAmazonSesLimitRequestPageResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "$ref": "#/components/schemas/SharedAmazonSesLimitRequestPage"
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "SharedAmazonSesLimitRequestCreate": {
        "type": "object",
        "properties": {
          "request": {
            "allOf": [
              { "$ref": "#/components/schemas/SharedAmazonSesLimitRequest" },
              { "type": "object" }
            ]
          },
          "limit": { "$ref": "#/components/schemas/SharedAmazonSesLimit" }
        },
        "required": ["request", "limit"],
        "additionalProperties": false
      },
      "SharedAmazonSesLimitRequestCreateResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "$ref": "#/components/schemas/SharedAmazonSesLimitRequestCreate"
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "EmailMetrics": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "total": { "type": "number", "example": 15230 },
              "sent": { "type": "number", "example": 14890 },
              "failed": { "type": "number", "example": 210 },
              "rejected": { "type": "number", "example": 80 },
              "pending": { "type": "number", "example": 50 }
            },
            "required": ["total", "sent", "failed", "rejected", "pending"],
            "additionalProperties": false
          },
          "comparison": {
            "type": "object",
            "properties": {
              "total": { "type": "number", "example": 15230 },
              "sent": { "type": "number", "example": 14890 },
              "failed": { "type": "number", "example": 210 },
              "rejected": { "type": "number", "example": 80 },
              "pending": { "type": "number", "example": 50 },
              "change_pct": {
                "type": "object",
                "properties": {
                  "total": { "type": "number", "example": 8.01 },
                  "sent": { "type": "number", "example": 7.9 },
                  "failed": { "type": "number", "example": 10.53 },
                  "rejected": { "type": "number", "example": 33.33 },
                  "pending": { "type": "number", "example": 0 }
                },
                "required": ["total", "sent", "failed", "rejected", "pending"],
                "additionalProperties": false
              }
            },
            "required": [
              "total",
              "sent",
              "failed",
              "rejected",
              "pending",
              "change_pct"
            ],
            "additionalProperties": false
          },
          "timeseries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "example": "2026-03-19T00:00:00Z"
                },
                "total": { "type": "number" },
                "sent": { "type": "number" },
                "failed": { "type": "number" },
                "rejected": { "type": "number" },
                "pending": { "type": "number" }
              },
              "required": [
                "timestamp",
                "total",
                "sent",
                "failed",
                "rejected",
                "pending"
              ],
              "additionalProperties": false
            }
          }
        },
        "required": ["summary", "comparison", "timeseries"],
        "additionalProperties": false
      },
      "EmailMetricsResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/EmailMetrics" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "DeliveryLogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Log public ID",
            "example": "dlog_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "provider_id": {
            "type": ["string", "null"],
            "description": "Provider public ID"
          },
          "provider_name": {
            "type": ["string", "null"],
            "description": "Provider display name"
          },
          "message_id": {
            "type": ["string", "null"],
            "description": "Email Message-ID header"
          },
          "from_email": { "type": ["string", "null"] },
          "sent_from_email": {
            "type": ["string", "null"],
            "description": "The actual from address used for delivery after transformation. NULL if no transformation occurred or for older log entries."
          },
          "to_email": { "type": ["string", "null"] },
          "subject": { "type": ["string", "null"] },
          "status": {
            "type": "string",
            "enum": ["pending", "sent", "failed", "rejected"]
          },
          "status_reason": { "type": ["string", "null"] },
          "attempts": { "type": "number" },
          "sent_at": {
            "type": ["string", "null"],
            "description": "ISO 8601 timestamp when email was sent"
          },
          "size_bytes": { "type": ["number", "null"] },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          }
        },
        "required": [
          "id",
          "provider_id",
          "provider_name",
          "message_id",
          "from_email",
          "sent_from_email",
          "to_email",
          "subject",
          "status",
          "status_reason",
          "attempts",
          "sent_at",
          "size_bytes",
          "created_at"
        ],
        "additionalProperties": false
      },
      "DeliveryLogItemCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/DeliveryLogItem" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "DeliveryLogItemResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/DeliveryLogItem" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "Balance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "string",
            "description": "Current balance (purchased - consumed)",
            "example": "45.230000"
          },
          "balance_purchased": { "type": "string", "example": "100.000000" },
          "balance_consumed": { "type": "string", "example": "54.770000" },
          "currency": { "type": "string", "enum": ["USD"] },
          "auto_topup": {
            "type": "object",
            "properties": {
              "enabled": { "type": "boolean" },
              "threshold": {
                "type": ["string", "null"],
                "example": "10.000000"
              },
              "amount": { "type": ["string", "null"], "example": "50.000000" },
              "monthly_limit": {
                "type": ["string", "null"],
                "example": "200.000000"
              },
              "monthly_used": { "type": "string", "example": "50.000000" }
            },
            "required": [
              "enabled",
              "threshold",
              "amount",
              "monthly_limit",
              "monthly_used"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "balance",
          "balance_purchased",
          "balance_consumed",
          "currency",
          "auto_topup"
        ],
        "additionalProperties": false
      },
      "BalanceResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/Balance" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "SpendSummary": {
        "type": "object",
        "properties": {
          "period_days": { "type": "number", "example": 30 },
          "total_purchased": { "type": "string", "example": "150.000000" },
          "total_consumed": { "type": "string", "example": "54.770000" },
          "transaction_count": { "type": "number", "example": 23 },
          "currency": { "type": "string", "enum": ["USD"] }
        },
        "required": [
          "period_days",
          "total_purchased",
          "total_consumed",
          "transaction_count",
          "currency"
        ],
        "additionalProperties": false
      },
      "SpendSummaryResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/SpendSummary" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction public ID",
            "example": "tx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "amount": {
            "type": "string",
            "description": "DECIMAL(19,6) amount",
            "example": "-0.001500"
          },
          "type": {
            "type": "string",
            "enum": ["PURCHASE", "USAGE", "AUTO_TOPUP", "REFUND", "ADJUSTMENT"]
          },
          "description": { "type": "string" },
          "quantity": {
            "type": ["number", "null"],
            "description": "Item count (for USAGE transactions)"
          },
          "balance_before": { "type": ["string", "null"] },
          "balance_after": { "type": ["string", "null"] },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 timestamp"
          }
        },
        "required": [
          "id",
          "amount",
          "type",
          "description",
          "quantity",
          "balance_before",
          "balance_after",
          "created_at"
        ],
        "additionalProperties": false
      },
      "TransactionCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Transaction" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxDomainMxRecord": {
        "type": "object",
        "properties": {
          "priority": { "type": "integer", "example": 10 },
          "target": { "type": "string", "example": "mail.sendmux.ai" }
        },
        "required": ["priority", "target"],
        "additionalProperties": false
      },
      "MailboxDomainNameValueRecord": {
        "type": "object",
        "properties": {
          "name": { "type": "string", "example": "_sendmux.acme.com" },
          "value": { "type": "string", "example": "sendmux-verify=team_abc123" }
        },
        "required": ["name", "value"],
        "additionalProperties": false,
        "description": "SPF TXT record covering both SES and Sendmux includes"
      },
      "MailboxDomainDnsRecords": {
        "type": "object",
        "properties": {
          "mx": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxDomainMxRecord" },
            "description": "MX records the customer must place. All point at Sendmux's inbound mail servers."
          },
          "spf": {
            "$ref": "#/components/schemas/MailboxDomainNameValueRecord"
          },
          "dmarc": {
            "allOf": [
              { "$ref": "#/components/schemas/MailboxDomainNameValueRecord" },
              {
                "description": "DMARC enforcement record (quarantine, no reporting)"
              }
            ]
          },
          "dkim": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxDomainNameValueRecord"
            },
            "description": "Three SES DKIM CNAME records"
          },
          "verification": {
            "allOf": [
              { "$ref": "#/components/schemas/MailboxDomainNameValueRecord" },
              { "description": "Ownership-proof TXT record (Sendmux-specific)" }
            ]
          }
        },
        "required": ["mx", "spf", "dmarc", "dkim", "verification"],
        "additionalProperties": false
      },
      "MailboxDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public ID",
            "example": "mdom_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "domain": {
            "type": "string",
            "description": "Fully qualified domain name",
            "example": "mail.acme.com"
          },
          "verification_status": {
            "type": "string",
            "enum": ["pending", "verified", "failed"],
            "description": "Current verification state"
          },
          "ses_dkim_status": {
            "type": ["string", "null"],
            "description": "SES DKIM status (pending/success/failed/temporary_failure/not_started)"
          },
          "verified_at": {
            "type": ["string", "null"],
            "description": "ISO 8601 timestamp of last successful verification"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "mailbox_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Active mailboxes currently using this domain",
            "example": 14
          },
          "dns_records": {
            "$ref": "#/components/schemas/MailboxDomainDnsRecords"
          }
        },
        "required": [
          "id",
          "domain",
          "verification_status",
          "ses_dkim_status",
          "verified_at",
          "created_at",
          "mailbox_count",
          "dns_records"
        ],
        "additionalProperties": false
      },
      "DomainItemCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxDomain" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "DomainItemResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxDomain" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxDomainVerifyChecks": {
        "type": "object",
        "properties": {
          "mx": {
            "type": "boolean",
            "description": "MX record present with priority 10 pointing at mail.sendmux.ai"
          },
          "verification_txt": {
            "type": "boolean",
            "description": "Ownership TXT record present with correct value"
          },
          "spf": {
            "type": "boolean",
            "description": "SPF TXT record matches expected value"
          },
          "dmarc": {
            "type": "boolean",
            "description": "DMARC TXT record matches expected value"
          }
        },
        "required": ["mx", "verification_txt", "spf", "dmarc"],
        "additionalProperties": false
      },
      "MailboxDomainVerifyResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["verified", "pending"],
            "description": "Post-check verification status"
          },
          "ses_dkim_status": {
            "type": "string",
            "description": "Latest SES DKIM status from AWS"
          },
          "checks": { "$ref": "#/components/schemas/MailboxDomainVerifyChecks" }
        },
        "required": ["status", "ses_dkim_status", "checks"],
        "additionalProperties": false
      },
      "DomainVerifyResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "$ref": "#/components/schemas/MailboxDomainVerifyResult"
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "DomainDeletedResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "object",
                "properties": {
                  "deleted": { "type": "boolean", "enum": [true] },
                  "id": { "type": "string" }
                },
                "required": ["deleted", "id"],
                "additionalProperties": false
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxSendScope": {
        "type": ["object", "null"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["all", "providers", "group"],
            "description": "Outbound routing strategy. `all` lets the mailbox use any team-configured provider; `providers` restricts to the listed provider IDs; `group` routes via a delivery group."
          },
          "provider_public_ids": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Provider public IDs (only when type=providers)"
          },
          "group_public_ids": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Delivery group public IDs (only when type=group)"
          }
        },
        "required": ["type"],
        "additionalProperties": false
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public ID",
            "example": "mbx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "email": {
            "type": "string",
            "description": "Mailbox email address (lowercase)",
            "example": "agent@acme.com"
          },
          "display_name": {
            "type": ["string", "null"],
            "description": "Optional display name shown in outbound From headers"
          },
          "quota_bytes": {
            "type": ["integer", "null"],
            "description": "Storage quota in bytes. Current writable tiers are 1 GB, 5 GB, and 50 GB."
          },
          "send_scope": { "$ref": "#/components/schemas/MailboxSendScope" },
          "status": {
            "type": "string",
            "description": "active | suspended | deleted",
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          }
        },
        "required": [
          "id",
          "email",
          "display_name",
          "quota_bytes",
          "send_scope",
          "status",
          "created_at"
        ],
        "additionalProperties": false
      },
      "MailboxItemCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/Mailbox" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxCredential": {
        "type": ["object", "null"],
        "properties": {
          "public_id": {
            "type": "string",
            "description": "Credential public ID",
            "example": "smx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "secret": {
            "type": "string",
            "description": "Mailbox credential — shown exactly once. Use as a Bearer token on the HTTP API and as the password for IMAP retrieval and SMTP submission."
          },
          "key_prefix": { "type": "string" },
          "key_suffix": { "type": "string" },
          "server": {
            "type": "string",
            "description": "Mailbox server name",
            "example": "mail.sendmux.ai"
          },
          "imap_port": {
            "type": "integer",
            "description": "IMAP retrieval port",
            "example": 993
          },
          "smtp_port": {
            "type": "integer",
            "description": "SMTP submission port",
            "example": 587
          },
          "username": {
            "type": "string",
            "description": "Mailbox email address used as the login"
          }
        },
        "required": [
          "public_id",
          "secret",
          "key_prefix",
          "key_suffix",
          "server",
          "imap_port",
          "smtp_port",
          "username"
        ],
        "additionalProperties": false,
        "description": "Initial credential for the mailbox. `null` if credential generation failed — call POST /mailboxes/{id}/keys to retry."
      },
      "MailboxCreateResult": {
        "type": "object",
        "properties": {
          "mailbox": { "$ref": "#/components/schemas/Mailbox" },
          "credential": { "$ref": "#/components/schemas/MailboxCredential" },
          "warning": {
            "type": ["string", "null"],
            "description": "Optional warning string when the mailbox was created without an initial credential"
          }
        },
        "required": ["mailbox", "credential", "warning"],
        "additionalProperties": false
      },
      "MailboxCreateResultResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxCreateResult" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxItemResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/Mailbox" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "UpdateMailboxBody": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 254
          },
          "quota_bytes": {
            "type": "integer",
            "minimum": 1,
            "description": "Storage quota in bytes. Allowed values: 1073741824 (1 GB), 5368709120 (5 GB), 53687091200 (50 GB).",
            "example": 5368709120
          },
          "send_scope": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["all", "providers", "group"]
              },
              "provider_public_ids": {
                "type": "array",
                "items": { "type": "string", "minLength": 1, "maxLength": 128 }
              },
              "group_public_ids": {
                "type": "array",
                "items": { "type": "string", "minLength": 1, "maxLength": 128 }
              }
            },
            "required": ["type"],
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "MailboxDeletedResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "object",
                "properties": {
                  "deleted": { "type": "boolean", "enum": [true] },
                  "id": { "type": "string" }
                },
                "required": ["deleted", "id"],
                "additionalProperties": false
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxAppPasswordResult": {
        "type": "object",
        "properties": {
          "credential": {
            "allOf": [
              { "$ref": "#/components/schemas/MailboxCredential" },
              { "type": "object" }
            ]
          }
        },
        "required": ["credential"],
        "additionalProperties": false
      },
      "MailboxAppPasswordResultResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "$ref": "#/components/schemas/MailboxAppPasswordResult"
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxKeyDeletedResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "object",
                "properties": {
                  "deleted": { "type": "boolean", "enum": [true] },
                  "id": { "type": "string" }
                },
                "required": ["deleted", "id"],
                "additionalProperties": false
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxMe": {
        "allOf": [
          { "$ref": "#/components/schemas/Mailbox" },
          {
            "type": "object",
            "properties": {
              "quota_used_bytes": {
                "type": "integer",
                "description": "Live storage usage in bytes. Omitted when usage is temporarily unavailable."
              }
            },
            "additionalProperties": false
          }
        ]
      },
      "MailboxMeItemResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxMe" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxSession": {
        "type": "object",
        "properties": {
          "mailbox": {
            "type": "object",
            "properties": {
              "id": {
                "type": "string",
                "description": "Mailbox public ID",
                "example": "mbx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
              },
              "email": {
                "type": "string",
                "format": "email",
                "example": "agent@example.com"
              },
              "display_name": { "type": ["string", "null"] }
            },
            "required": ["id", "email", "display_name"],
            "additionalProperties": false
          },
          "states": {
            "type": "object",
            "properties": {
              "messages": { "type": "string" },
              "folders": { "type": "string" },
              "threads": { "type": "string" },
              "submissions": { "type": "string" },
              "identities": { "type": "string" },
              "quotas": { "type": "string" }
            },
            "required": [
              "messages",
              "folders",
              "threads",
              "submissions",
              "identities",
              "quotas"
            ],
            "additionalProperties": false
          },
          "capabilities": {
            "type": "object",
            "properties": {
              "messages": {
                "type": "object",
                "properties": {
                  "list": { "type": "boolean" },
                  "detail": { "type": "boolean" },
                  "raw_body": { "type": "boolean" },
                  "clean_content": { "type": "boolean" },
                  "batch_get": { "type": "boolean" },
                  "count": { "type": "boolean" },
                  "search_snippets": { "type": "boolean" },
                  "changes": { "type": "boolean" },
                  "query_changes": { "type": "boolean" },
                  "update_fields": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["seen", "flagged", "keywords"]
                    }
                  },
                  "keywords": { "type": "boolean" },
                  "batch_update": { "type": "boolean" },
                  "delete": { "type": "boolean" },
                  "permanent_delete": { "type": "boolean" }
                },
                "required": [
                  "list",
                  "detail",
                  "raw_body",
                  "clean_content",
                  "batch_get",
                  "count",
                  "search_snippets",
                  "changes",
                  "query_changes",
                  "update_fields",
                  "keywords",
                  "batch_update",
                  "delete",
                  "permanent_delete"
                ],
                "additionalProperties": false
              },
              "threads": {
                "type": "object",
                "properties": {
                  "list": { "type": "boolean" },
                  "detail": { "type": "boolean" },
                  "messages": { "type": "boolean" },
                  "clean_content": { "type": "boolean" },
                  "changes": { "type": "boolean" }
                },
                "required": [
                  "list",
                  "detail",
                  "messages",
                  "clean_content",
                  "changes"
                ],
                "additionalProperties": false
              },
              "folders": {
                "type": "object",
                "properties": {
                  "list": { "type": "boolean" },
                  "detail": { "type": "boolean" },
                  "create": { "type": "boolean" },
                  "update": { "type": "boolean" },
                  "delete": { "type": "boolean" },
                  "changes": { "type": "boolean" },
                  "query_changes": { "type": "boolean" }
                },
                "required": [
                  "list",
                  "detail",
                  "create",
                  "update",
                  "delete",
                  "changes",
                  "query_changes"
                ],
                "additionalProperties": false
              },
              "submissions": {
                "type": "object",
                "properties": {
                  "list": { "type": "boolean" },
                  "detail": { "type": "boolean" },
                  "changes": { "type": "boolean" },
                  "send": { "type": "boolean" }
                },
                "required": ["list", "detail", "changes", "send"],
                "additionalProperties": false
              },
              "identities": {
                "type": "object",
                "properties": {
                  "list": { "type": "boolean" },
                  "changes": { "type": "boolean" },
                  "create": { "type": "boolean" },
                  "update": { "type": "boolean" },
                  "delete": { "type": "boolean" }
                },
                "required": ["list", "changes", "create", "update", "delete"],
                "additionalProperties": false
              },
              "quotas": {
                "type": "object",
                "properties": {
                  "list": { "type": "boolean" },
                  "usage": { "type": "boolean" },
                  "changes": { "type": "boolean" },
                  "update": { "type": "boolean" }
                },
                "required": ["list", "usage", "changes", "update"],
                "additionalProperties": false
              },
              "attachments": {
                "type": "object",
                "properties": {
                  "upload": { "type": "boolean" },
                  "download": { "type": "boolean" },
                  "range_download": { "type": "boolean" },
                  "metadata": { "type": "boolean" },
                  "parsing": { "type": "boolean" },
                  "send_with_uploaded_blob": { "type": "boolean" }
                },
                "required": [
                  "upload",
                  "download",
                  "range_download",
                  "metadata",
                  "parsing",
                  "send_with_uploaded_blob"
                ],
                "additionalProperties": false
              },
              "sync": {
                "type": "object",
                "properties": {
                  "typed_changes": { "type": "boolean" },
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": [
                        "messages",
                        "folders",
                        "threads",
                        "submissions",
                        "identities",
                        "quotas"
                      ]
                    }
                  },
                  "query_changes": {
                    "type": "array",
                    "items": {
                      "type": "string",
                      "enum": ["messages", "folders"]
                    }
                  }
                },
                "required": ["typed_changes", "types", "query_changes"],
                "additionalProperties": false
              }
            },
            "required": [
              "messages",
              "threads",
              "folders",
              "submissions",
              "identities",
              "quotas",
              "attachments",
              "sync"
            ],
            "additionalProperties": false
          },
          "limits": {
            "type": "object",
            "properties": {
              "list_limit_max": { "type": "integer" },
              "changes_limit_max": { "type": "integer" },
              "batch_ids_max": { "type": "integer" },
              "message_body_chars_default": { "type": "integer" },
              "thread_body_chars_default": { "type": "integer" },
              "body_chars_max": { "type": "integer" },
              "inline_attachment_bytes_max": { "type": "integer" },
              "attachment_upload_bytes_max": { "type": "integer" },
              "outbound_raw_message_bytes_max": { "type": "integer" },
              "keywords_per_update_max": { "type": "integer" }
            },
            "required": [
              "list_limit_max",
              "changes_limit_max",
              "batch_ids_max",
              "message_body_chars_default",
              "thread_body_chars_default",
              "body_chars_max",
              "inline_attachment_bytes_max",
              "attachment_upload_bytes_max",
              "outbound_raw_message_bytes_max",
              "keywords_per_update_max"
            ],
            "additionalProperties": false
          },
          "gated": {
            "type": "object",
            "properties": {
              "identity_mutation": { "type": "boolean" },
              "quota_mutation": { "type": "boolean" },
              "vacation_response": { "type": "boolean" },
              "filter_script_writes": { "type": "boolean" },
              "events": { "type": "boolean" },
              "raw_protocol": { "type": "boolean" },
              "attachment_parsing": { "type": "boolean" },
              "message_copy": { "type": "boolean" },
              "message_import": { "type": "boolean" },
              "message_parse": { "type": "boolean" },
              "blob_lookup": { "type": "boolean" },
              "blob_copy": { "type": "boolean" }
            },
            "required": [
              "identity_mutation",
              "quota_mutation",
              "vacation_response",
              "filter_script_writes",
              "events",
              "raw_protocol",
              "attachment_parsing",
              "message_copy",
              "message_import",
              "message_parse",
              "blob_lookup",
              "blob_copy"
            ],
            "additionalProperties": false,
            "description": "Flags are true when a feature is intentionally unavailable through the mailbox API."
          },
          "endpoints": {
            "type": "object",
            "properties": {
              "mailbox": { "type": "array", "items": { "type": "string" } },
              "messages": { "type": "array", "items": { "type": "string" } },
              "threads": { "type": "array", "items": { "type": "string" } },
              "folders": { "type": "array", "items": { "type": "string" } },
              "submissions": { "type": "array", "items": { "type": "string" } },
              "usage": { "type": "array", "items": { "type": "string" } },
              "sync": { "type": "array", "items": { "type": "string" } }
            },
            "required": [
              "mailbox",
              "messages",
              "threads",
              "folders",
              "submissions",
              "usage",
              "sync"
            ],
            "additionalProperties": false
          }
        },
        "required": [
          "mailbox",
          "states",
          "capabilities",
          "limits",
          "gated",
          "endpoints"
        ],
        "additionalProperties": false
      },
      "MailboxSessionResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxSession" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxAddress": {
        "type": "object",
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "agent@example.com"
          },
          "name": { "type": ["string", "null"], "example": "Support" }
        },
        "required": ["email", "name"],
        "additionalProperties": false
      },
      "MailboxIdentity": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Identity ID" },
          "name": { "type": "string" },
          "email": { "type": "string", "format": "email" },
          "reply_to": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxAddress" }
          },
          "bcc": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxAddress" }
          },
          "text_signature": { "type": "string" },
          "html_signature": { "type": "string" },
          "may_delete": {
            "type": "boolean",
            "description": "Whether the mailbox service allows this identity to be deleted."
          }
        },
        "required": [
          "id",
          "name",
          "email",
          "reply_to",
          "bcc",
          "text_signature",
          "html_signature",
          "may_delete"
        ],
        "additionalProperties": false
      },
      "MailboxIdentityResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxIdentity" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "UpdateMailboxIdentityBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": ["string", "null"],
            "maxLength": 254,
            "description": "Default sender name. Send null or an empty string to clear it."
          },
          "text_signature": {
            "type": ["string", "null"],
            "maxLength": 2047,
            "description": "Plain text signature appended to Mailbox API sends that include text_body."
          },
          "html_signature": {
            "type": ["string", "null"],
            "maxLength": 2047,
            "description": "HTML signature appended to Mailbox API sends that include html_body."
          }
        },
        "additionalProperties": false
      },
      "MailboxIdentityCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxIdentity" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxSubmissionEnvelopeAddress": {
        "type": ["object", "null"],
        "properties": {
          "email": { "type": "string", "format": "email" },
          "parameters": {
            "type": ["object", "null"],
            "additionalProperties": { "type": ["string", "null"] }
          }
        },
        "required": ["email", "parameters"],
        "additionalProperties": false
      },
      "MailboxSubmissionEnvelope": {
        "type": ["object", "null"],
        "properties": {
          "mail_from": {
            "$ref": "#/components/schemas/MailboxSubmissionEnvelopeAddress"
          },
          "rcpt_to": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxSubmissionEnvelopeAddress"
                },
                { "type": "object" }
              ]
            }
          }
        },
        "required": ["mail_from", "rcpt_to"],
        "additionalProperties": false
      },
      "MailboxSubmissionDeliveryStatus": {
        "type": "object",
        "properties": {
          "email": { "type": "string", "format": "email" },
          "smtp_reply": { "type": ["string", "null"] },
          "delivered": { "type": ["string", "null"] },
          "displayed": { "type": ["string", "null"] }
        },
        "required": ["email", "smtp_reply", "delivered", "displayed"],
        "additionalProperties": false
      },
      "MailboxSubmission": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Submission ID" },
          "identity_id": { "type": ["string", "null"] },
          "email_id": { "type": ["string", "null"] },
          "thread_id": { "type": ["string", "null"] },
          "send_at": { "type": ["string", "null"] },
          "undo_status": { "type": ["string", "null"] },
          "envelope": {
            "$ref": "#/components/schemas/MailboxSubmissionEnvelope"
          },
          "delivery_status": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxSubmissionDeliveryStatus"
            }
          },
          "dsn_blob_ids": { "type": "array", "items": { "type": "string" } },
          "mdn_blob_ids": { "type": "array", "items": { "type": "string" } }
        },
        "required": [
          "id",
          "identity_id",
          "email_id",
          "thread_id",
          "send_at",
          "undo_status",
          "envelope",
          "delivery_status",
          "dsn_blob_ids",
          "mdn_blob_ids"
        ],
        "additionalProperties": false
      },
      "MailboxSubmissionCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxSubmission" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxChanges": {
        "type": "object",
        "properties": {
          "old_state": { "type": ["string", "null"] },
          "new_state": { "type": "string" },
          "has_more": { "type": "boolean" },
          "created": { "type": "array", "items": { "type": "string" } },
          "updated": { "type": "array", "items": { "type": "string" } },
          "destroyed": { "type": "array", "items": { "type": "string" } },
          "updated_properties": {
            "type": "array",
            "items": { "type": "string" }
          }
        },
        "required": [
          "old_state",
          "new_state",
          "has_more",
          "created",
          "updated",
          "destroyed"
        ],
        "additionalProperties": false
      },
      "MailboxChangesResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxChanges" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxSubmissionResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxSubmission" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxQuota": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Quota ID" },
          "resource_type": { "type": "string", "example": "octets" },
          "used": { "type": "integer" },
          "hard_limit": { "type": "integer" },
          "warn_limit": { "type": ["integer", "null"] },
          "soft_limit": { "type": ["integer", "null"] },
          "scope": { "type": "string", "example": "account" },
          "name": { "type": "string" },
          "types": { "type": "array", "items": { "type": "string" } },
          "description": { "type": ["string", "null"] }
        },
        "required": [
          "id",
          "resource_type",
          "used",
          "hard_limit",
          "warn_limit",
          "soft_limit",
          "scope",
          "name",
          "types",
          "description"
        ],
        "additionalProperties": false
      },
      "MailboxQuotaCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxQuota" }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxUsageResource": {
        "type": "object",
        "properties": {
          "quota_id": { "type": "string" },
          "name": { "type": "string" },
          "resource_type": { "type": "string" },
          "scope": { "type": "string" },
          "types": { "type": "array", "items": { "type": "string" } },
          "used": { "type": "integer" },
          "hard_limit": { "type": "integer" },
          "warn_limit": { "type": ["integer", "null"] },
          "soft_limit": { "type": ["integer", "null"] },
          "percent_used": { "type": ["number", "null"] },
          "limit_status": {
            "type": "string",
            "enum": ["ok", "warning", "soft_limit", "hard_limit", "unknown"]
          }
        },
        "required": [
          "quota_id",
          "name",
          "resource_type",
          "scope",
          "types",
          "used",
          "hard_limit",
          "warn_limit",
          "soft_limit",
          "percent_used",
          "limit_status"
        ],
        "additionalProperties": false
      },
      "MailboxUsage": {
        "type": "object",
        "properties": {
          "resources": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxUsageResource" }
          },
          "states": {
            "type": "object",
            "properties": { "quota_state": { "type": ["string", "null"] } },
            "required": ["quota_state"],
            "additionalProperties": false
          }
        },
        "required": ["resources", "states"],
        "additionalProperties": false
      },
      "MailboxUsageResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxUsage" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxMessageFlags": {
        "type": "object",
        "properties": {
          "seen": { "type": "boolean" },
          "flagged": { "type": "boolean" },
          "draft": { "type": "boolean" },
          "answered": { "type": "boolean" }
        },
        "required": ["seen", "flagged", "draft", "answered"],
        "additionalProperties": false
      },
      "MailboxMessageSummary": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Message ID" },
          "thread_id": { "type": ["string", "null"] },
          "folder_ids": { "type": "array", "items": { "type": "string" } },
          "subject": { "type": ["string", "null"] },
          "preview": { "type": ["string", "null"] },
          "from": {
            "allOf": [
              { "$ref": "#/components/schemas/MailboxAddress" },
              { "type": ["object", "null"] }
            ]
          },
          "to": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxAddress" }
          },
          "cc": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxAddress" }
          },
          "bcc": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxAddress" }
          },
          "received_at": { "type": ["string", "null"] },
          "sent_at": { "type": ["string", "null"] },
          "size_bytes": { "type": ["integer", "null"] },
          "has_attachments": { "type": "boolean" },
          "keywords": {
            "type": "array",
            "items": { "type": "string" },
            "description": "Active message keywords, including system flags and custom labels.",
            "example": ["$seen", "$flagged", "agent_triaged"]
          },
          "flags": { "$ref": "#/components/schemas/MailboxMessageFlags" }
        },
        "required": [
          "id",
          "thread_id",
          "folder_ids",
          "subject",
          "preview",
          "from",
          "to",
          "cc",
          "bcc",
          "received_at",
          "sent_at",
          "size_bytes",
          "has_attachments",
          "keywords",
          "flags"
        ],
        "additionalProperties": false
      },
      "MailboxMessageSummaryCursorListResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MailboxMessageSummary"
                }
              },
              "pagination": { "$ref": "#/components/schemas/CursorPagination" }
            },
            "required": ["data", "pagination"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxMessageQueryChanges": {
        "type": "object",
        "properties": {
          "old_query_state": { "type": ["string", "null"] },
          "new_query_state": { "type": "string" },
          "has_more": { "type": "boolean" },
          "removed": { "type": "array", "items": { "type": "string" } },
          "added": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": { "type": "string" },
                "index": { "type": "integer" }
              },
              "required": ["id", "index"],
              "additionalProperties": false
            }
          },
          "total": { "type": ["integer", "null"] }
        },
        "required": [
          "old_query_state",
          "new_query_state",
          "has_more",
          "removed",
          "added",
          "total"
        ],
        "additionalProperties": false
      },
      "MailboxMessageQueryChangesResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": {
                "$ref": "#/components/schemas/MailboxMessageQueryChanges"
              }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxRawBody": {
        "type": ["object", "null"],
        "properties": {
          "id": { "type": "string", "description": "Message ID" },
          "thread_id": { "type": ["string", "null"] },
          "part": { "type": "string", "enum": ["text", "html", "both"] },
          "body": {
            "type": "object",
            "properties": {
              "text": { "type": ["string", "null"] },
              "html": { "type": ["string", "null"] },
              "is_truncated": { "type": "boolean" },
              "truncated_at_chars": { "type": ["integer", "null"] }
            },
            "required": ["text", "html", "is_truncated", "truncated_at_chars"],
            "additionalProperties": false
          },
          "states": {
            "type": "object",
            "properties": { "email_state": { "type": ["string", "null"] } },
            "required": ["email_state"],
            "additionalProperties": false
          }
        },
        "required": ["id", "thread_id", "part", "body", "states"],
        "additionalProperties": false
      },
      "MailboxContentHeaders": {
        "type": "object",
        "properties": {
          "mode": { "type": "string", "enum": ["none", "selected", "full"] },
          "selected": {
            "type": ["object", "null"],
            "properties": {
              "message_id": { "type": "array", "items": { "type": "string" } },
              "in_reply_to": { "type": ["string", "null"] },
              "references": { "type": "array", "items": { "type": "string" } },
              "reply_to": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxAddress" }
              }
            },
            "required": ["message_id", "in_reply_to", "references", "reply_to"]
          },
          "full": {
            "type": ["array", "null"],
            "items": {
              "type": "object",
              "properties": {
                "name": { "type": "string" },
                "value": { "type": "string" }
              },
              "required": ["name", "value"],
              "additionalProperties": false
            }
          }
        },
        "required": ["mode", "selected", "full"],
        "additionalProperties": false
      },
      "MailboxAttachment": {
        "type": "object",
        "properties": {
          "id": { "type": "string", "description": "Attachment ID" },
          "filename": { "type": ["string", "null"] },
          "content_type": { "type": "string", "example": "application/pdf" },
          "size_bytes": { "type": ["integer", "null"] },
          "disposition": { "type": ["string", "null"] },
          "content_id": { "type": ["string", "null"] },
          "download_url": { "type": "string" }
        },
        "required": [
          "id",
          "filename",
          "content_type",
          "size_bytes",
          "disposition",
          "content_id"
        ],
        "additionalProperties": false
      },
      "MailboxMessageContent": {
        "type": ["object", "null"],
        "properties": {
          "id": { "type": "string", "description": "Message ID" },
          "thread_id": { "type": ["string", "null"] },
          "subject": { "type": ["string", "null"] },
          "participants": {
            "type": "object",
            "properties": {
              "from": {
                "allOf": [
                  { "$ref": "#/components/schemas/MailboxAddress" },
                  { "type": ["object", "null"] }
                ]
              },
              "to": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxAddress" }
              },
              "cc": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxAddress" }
              },
              "bcc": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxAddress" }
              },
              "reply_to": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/MailboxAddress" }
              }
            },
            "required": ["from", "to", "cc", "bcc", "reply_to"],
            "additionalProperties": false
          },
          "dates": {
            "type": "object",
            "properties": {
              "received_at": { "type": ["string", "null"] },
              "sent_at": { "type": ["string", "null"] }
            },
            "required": ["received_at", "sent_at"],
            "additionalProperties": false
          },
          "body": {
            "type": "object",
            "properties": {
              "format": {
                "type": ["string", "null"],
                "enum": ["text", "html"]
              },
              "text": { "type": ["string", "null"] },
              "html": {
                "type": ["string", "null"],
                "description": "HTML body when requested. Returned as a JSON string and not as rendered content."
              },
              "is_truncated": { "type": "boolean" },
              "truncated_at_chars": { "type": ["integer", "null"] },
              "signature_stripped": { "type": "boolean" },
              "quotes_stripped": { "type": "boolean" },
              "extracted_links": {
                "type": "array",
                "items": { "type": "string" }
              }
            },
            "required": [
              "format",
              "text",
              "html",
              "is_truncated",
              "truncated_at_chars",
              "signature_stripped",
              "quotes_stripped",
              "extracted_links"
            ],
            "additionalProperties": false
          },
          "headers": { "$ref": "#/components/schemas/MailboxContentHeaders" },
          "attachments": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxAttachment" },
            "description": "Attachment metadata only. Attachment contents are not parsed by this endpoint."
          },
          "states": {
            "type": "object",
            "properties": {
              "email_state": { "type": ["string", "null"] },
              "option_hash": { "type": "string" }
            },
            "required": ["email_state", "option_hash"],
            "additionalProperties": false
          }
        },
        "required": [
          "id",
          "thread_id",
          "subject",
          "participants",
          "dates",
          "body",
          "headers",
          "attachments",
          "states"
        ],
        "additionalProperties": false
      },
      "MailboxBatchGetItem": {
        "type": "object",
        "properties": {
          "message": { "$ref": "#/components/schemas/MailboxMessageSummary" },
          "raw_body": { "$ref": "#/components/schemas/MailboxRawBody" },
          "content": { "$ref": "#/components/schemas/MailboxMessageContent" }
        },
        "required": ["message", "raw_body", "content"],
        "additionalProperties": false
      },
      "MailboxBatchGetResult": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": { "$ref": "#/components/schemas/MailboxBatchGetItem" }
          },
          "not_found": { "type": "array", "items": { "type": "string" } },
          "states": {
            "type": "object",
            "properties": { "email_state": { "type": ["string", "null"] } },
            "required": ["email_state"],
            "additionalProperties": false
          }
        },
        "required": ["messages", "not_found", "states"],
        "additionalProperties": false
      },
      "MailboxBatchGetResultResponse": {
        "allOf": [
          { "$ref": "#/components/schemas/SuccessEnvelope" },
          {
            "type": "object",
            "properties": {
              "meta": { "$ref": "#/components/schemas/ResponseMeta" },
              "data": { "$ref": "#/components/schemas/MailboxBatchGetResult" }
            },
            "required": ["data"]
          }
        ],
        "unevaluatedProperties": false
      },
      "MailboxBatchGetBody": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": { "type": "string" },
            "minItems": 1,
            "maxItems": 100
          },
          "body_mode": {
            "type": "string",
            "enum": ["none", "raw", "clean_json"]
          },
          "part": {
            "type": "string",
            "enum": ["auto", "text", "html", "both"]
          },
          "max_body_chars": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000
          },
          "strip_signature": { "type": "boolean" },
          "strip_quotes": { "type": "boolean" },
          "include_links": { "type": "boolean" },
          "include_html": { "type": "boolean" },
          "include_headers": {
            "type": "string",
            "enum": ["none", "selected", "full"]
          },
          "include_attachments": {
            "type": "string",
            "enum": ["none", "metadata"]
          }
        },
        "required": ["ids"],
        "additionalProperties": false
      },
[...]
