{
  "openapi": "3.1.0",
  "info": {
    "title": "Sendmux API",
    "version": "1.0.0",
    "description": "Programmatic access to your Sendmux email infrastructure."
  },
  "servers": [
    {
      "url": "https://app.sendmux.ai/api/v1",
      "description": "API v1"
    }
  ],
  "security": [
    {
      "bearerAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "API Key",
        "description": "Sendmux API key. Use a root API key for Management API routes, or a mailbox credential for Mailbox API routes. Obtain keys from the dashboard under API Keys."
      }
    },
    "schemas": {
      "ApiErrorDetail": {
        "type": "object",
        "properties": {
          "field": {
            "type": "string",
            "description": "Dot-path of the offending request field.",
            "example": "recipient.email"
          },
          "code": {
            "type": "string",
            "description": "Machine-readable issue code from the validator (e.g. zod issue code).",
            "example": "invalid_string"
          },
          "message": {
            "type": "string",
            "description": "Human-readable issue description."
          }
        },
        "required": ["field", "code", "message"]
      },
      "ApiError": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [false]
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "invalid_parameter",
                  "missing_parameter",
                  "authentication_required",
                  "insufficient_permissions",
                  "not_found",
                  "conflict",
                  "idempotency_conflict",
                  "payload_too_large",
                  "validation_error",
                  "rate_limit_exceeded",
                  "service_unavailable",
                  "internal_error"
                ],
                "description": "Machine-readable error code",
                "example": "invalid_parameter"
              },
              "message": {
                "type": "string",
                "description": "Human-readable error description"
              },
              "param": {
                "type": "string",
                "description": "The parameter that caused the error"
              },
              "doc_url": {
                "type": "string",
                "description": "Link to relevant documentation"
              },
              "retryable": {
                "type": "boolean",
                "description": "Whether the caller may safely retry this request. 4xx are typically false (except 429); 5xx are typically true.",
                "example": false
              },
              "errors": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ApiErrorDetail"
                },
                "description": "Accumulated per-field issues for validation errors. Only present on 400/422 responses."
              }
            },
            "required": ["code", "message", "retryable"]
          },
          "meta": {
            "type": "object",
            "properties": {
              "request_id": {
                "type": "string",
                "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
              }
            },
            "required": ["request_id"]
          }
        },
        "required": ["ok", "error", "meta"]
      },
      "ProviderTypeCounts": {
        "type": "object",
        "properties": {
          "smtp": {
            "type": "number",
            "description": "Number of SMTP providers",
            "example": 6
          },
          "gmail_api": {
            "type": "number",
            "description": "Number of Gmail API providers",
            "example": 4
          },
          "outlook_api": {
            "type": "number",
            "description": "Number of Outlook API providers",
            "example": 2
          }
        },
        "required": ["smtp", "gmail_api", "outlook_api"],
        "description": "Breakdown by provider type"
      },
      "ProviderStatusCounts": {
        "type": "object",
        "properties": {
          "active": {
            "type": "number",
            "example": 8
          },
          "inactive": {
            "type": "number",
            "example": 3
          },
          "error": {
            "type": "number",
            "example": 1
          },
          "pending": {
            "type": "number",
            "example": 0
          }
        },
        "required": ["active", "inactive", "error", "pending"],
        "description": "Breakdown by status"
      },
      "ProviderStats": {
        "type": "object",
        "properties": {
          "total": {
            "type": "number",
            "description": "Total number of configured providers",
            "example": 12
          },
          "active": {
            "type": "number",
            "description": "Providers with status 'active'",
            "example": 8
          },
          "inactive": {
            "type": "number",
            "description": "Providers with status 'inactive'",
            "example": 3
          },
          "error": {
            "type": "number",
            "description": "Providers with status 'error'",
            "example": 1
          },
          "pending": {
            "type": "number",
            "description": "Providers with status 'pending'",
            "example": 0
          },
          "by_type": {
            "$ref": "#/components/schemas/ProviderTypeCounts"
          },
          "by_status": {
            "$ref": "#/components/schemas/ProviderStatusCounts"
          }
        },
        "required": [
          "total",
          "active",
          "inactive",
          "error",
          "pending",
          "by_type",
          "by_status"
        ]
      },
      "ProviderItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Provider public ID",
            "example": "dprov_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "name": {
            "type": "string",
            "description": "Provider display name",
            "example": "Gmail API - Marketing"
          },
          "type": {
            "type": "string",
            "enum": ["smtp", "gmail_api", "outlook_api"],
            "description": "Provider type"
          },
          "status": {
            "type": "string",
            "enum": ["active", "inactive", "error", "pending"],
            "description": "Current status"
          },
          "status_reason": {
            "type": ["string", "null"],
            "description": "Reason for current status"
          },
          "is_active": {
            "type": "boolean",
            "description": "Whether provider is enabled"
          },
          "from_email": {
            "type": ["string", "null"],
            "description": "Default from email address"
          },
          "from_name": {
            "type": ["string", "null"],
            "description": "Default from display name"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp",
            "example": "2026-03-01T10:00:00Z"
          },
          "last_tested_at": {
            "type": ["string", "null"],
            "description": "Last connection test timestamp"
          },
          "last_used_at": {
            "type": ["string", "null"],
            "description": "Last email sent timestamp"
          }
        },
        "required": [
          "id",
          "name",
          "type",
          "status",
          "status_reason",
          "is_active",
          "from_email",
          "from_name",
          "created_at",
          "last_tested_at",
          "last_used_at"
        ]
      },
      "EmailMetrics": {
        "type": "object",
        "properties": {
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "example": 15230
              },
              "sent": {
                "type": "number",
                "example": 14890
              },
              "failed": {
                "type": "number",
                "example": 210
              },
              "rejected": {
                "type": "number",
                "example": 80
              },
              "pending": {
                "type": "number",
                "example": 50
              }
            },
            "required": ["total", "sent", "failed", "rejected", "pending"]
          },
          "comparison": {
            "type": "object",
            "properties": {
              "total": {
                "type": "number",
                "example": 15230
              },
              "sent": {
                "type": "number",
                "example": 14890
              },
              "failed": {
                "type": "number",
                "example": 210
              },
              "rejected": {
                "type": "number",
                "example": 80
              },
              "pending": {
                "type": "number",
                "example": 50
              },
              "change_pct": {
                "type": "object",
                "properties": {
                  "total": {
                    "type": "number",
                    "example": 8.01
                  },
                  "sent": {
                    "type": "number",
                    "example": 7.9
                  },
                  "failed": {
                    "type": "number",
                    "example": 10.53
                  },
                  "rejected": {
                    "type": "number",
                    "example": 33.33
                  },
                  "pending": {
                    "type": "number",
                    "example": 0
                  }
                },
                "required": ["total", "sent", "failed", "rejected", "pending"]
              }
            },
            "required": [
              "total",
              "sent",
              "failed",
              "rejected",
              "pending",
              "change_pct"
            ]
          },
          "timeseries": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "timestamp": {
                  "type": "string",
                  "example": "2026-03-19T00:00:00Z"
                },
                "total": {
                  "type": "number"
                },
                "sent": {
                  "type": "number"
                },
                "failed": {
                  "type": "number"
                },
                "rejected": {
                  "type": "number"
                },
                "pending": {
                  "type": "number"
                }
              },
              "required": [
                "timestamp",
                "total",
                "sent",
                "failed",
                "rejected",
                "pending"
              ]
            }
          }
        },
        "required": ["summary", "comparison", "timeseries"]
      },
      "DeliveryLogItem": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Log public ID",
            "example": "dlog_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "provider_id": {
            "type": ["string", "null"],
            "description": "Provider public ID"
          },
          "provider_name": {
            "type": ["string", "null"],
            "description": "Provider display name"
          },
          "message_id": {
            "type": ["string", "null"],
            "description": "Email Message-ID header"
          },
          "from_email": {
            "type": ["string", "null"]
          },
          "sent_from_email": {
            "type": ["string", "null"],
            "description": "The actual from address used for delivery after transformation. NULL if no transformation occurred or for older log entries."
          },
          "to_email": {
            "type": ["string", "null"]
          },
          "subject": {
            "type": ["string", "null"]
          },
          "status": {
            "type": "string",
            "enum": ["pending", "sent", "failed", "rejected"]
          },
          "status_reason": {
            "type": ["string", "null"]
          },
          "attempts": {
            "type": "number"
          },
          "sent_at": {
            "type": ["string", "null"],
            "description": "ISO 8601 timestamp when email was sent"
          },
          "size_bytes": {
            "type": ["number", "null"]
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          }
        },
        "required": [
          "id",
          "provider_id",
          "provider_name",
          "message_id",
          "from_email",
          "sent_from_email",
          "to_email",
          "subject",
          "status",
          "status_reason",
          "attempts",
          "sent_at",
          "size_bytes",
          "created_at"
        ]
      },
      "Balance": {
        "type": "object",
        "properties": {
          "balance": {
            "type": "string",
            "description": "Current balance (purchased - consumed)",
            "example": "45.230000"
          },
          "balance_purchased": {
            "type": "string",
            "example": "100.000000"
          },
          "balance_consumed": {
            "type": "string",
            "example": "54.770000"
          },
          "currency": {
            "type": "string",
            "enum": ["USD"]
          },
          "auto_topup": {
            "type": "object",
            "properties": {
              "enabled": {
                "type": "boolean"
              },
              "threshold": {
                "type": ["string", "null"],
                "example": "10.000000"
              },
              "amount": {
                "type": ["string", "null"],
                "example": "50.000000"
              },
              "monthly_limit": {
                "type": ["string", "null"],
                "example": "200.000000"
              },
              "monthly_used": {
                "type": "string",
                "example": "50.000000"
              }
            },
            "required": [
              "enabled",
              "threshold",
              "amount",
              "monthly_limit",
              "monthly_used"
            ]
          }
        },
        "required": [
          "balance",
          "balance_purchased",
          "balance_consumed",
          "currency",
          "auto_topup"
        ]
      },
      "SpendSummary": {
        "type": "object",
        "properties": {
          "period_days": {
            "type": "number",
            "example": 30
          },
          "total_purchased": {
            "type": "string",
            "example": "150.000000"
          },
          "total_consumed": {
            "type": "string",
            "example": "54.770000"
          },
          "transaction_count": {
            "type": "number",
            "example": 23
          },
          "currency": {
            "type": "string",
            "enum": ["USD"]
          }
        },
        "required": [
          "period_days",
          "total_purchased",
          "total_consumed",
          "transaction_count",
          "currency"
        ]
      },
      "Transaction": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Transaction public ID",
            "example": "tx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "amount": {
            "type": "string",
            "description": "DECIMAL(19,6) amount",
            "example": "-0.001500"
          },
          "type": {
            "type": "string",
            "enum": ["PURCHASE", "USAGE", "AUTO_TOPUP", "REFUND", "ADJUSTMENT"]
          },
          "description": {
            "type": "string"
          },
          "quantity": {
            "type": ["number", "null"],
            "description": "Item count (for USAGE transactions)"
          },
          "balance_before": {
            "type": ["string", "null"]
          },
          "balance_after": {
            "type": ["string", "null"]
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 timestamp"
          }
        },
        "required": [
          "id",
          "amount",
          "type",
          "description",
          "quantity",
          "balance_before",
          "balance_after",
          "created_at"
        ]
      },
      "MailboxDomainMxRecord": {
        "type": "object",
        "properties": {
          "priority": {
            "type": "integer",
            "example": 10
          },
          "target": {
            "type": "string",
            "example": "mail.sendmux.ai"
          }
        },
        "required": ["priority", "target"]
      },
      "MailboxDomainNameValueRecord": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "_sendmux.acme.com"
          },
          "value": {
            "type": "string",
            "example": "sendmux-verify=team_abc123"
          }
        },
        "required": ["name", "value"],
        "description": "SPF TXT record covering both SES and Sendmux includes"
      },
      "MailboxDomainDnsRecords": {
        "type": "object",
        "properties": {
          "mx": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxDomainMxRecord"
            },
            "description": "MX records the customer must place. All point at Sendmux's inbound mail servers."
          },
          "spf": {
            "$ref": "#/components/schemas/MailboxDomainNameValueRecord"
          },
          "dmarc": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MailboxDomainNameValueRecord"
              },
              {
                "description": "DMARC enforcement record (quarantine, no reporting)"
              }
            ]
          },
          "dkim": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxDomainNameValueRecord"
            },
            "description": "Three SES DKIM CNAME records"
          },
          "verification": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MailboxDomainNameValueRecord"
              },
              {
                "description": "Ownership-proof TXT record (Sendmux-specific)"
              }
            ]
          }
        },
        "required": ["mx", "spf", "dmarc", "dkim", "verification"]
      },
      "MailboxDomain": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public ID",
            "example": "mdom_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "domain": {
            "type": "string",
            "description": "Fully qualified domain name",
            "example": "mail.acme.com"
          },
          "verification_status": {
            "type": "string",
            "enum": ["pending", "verified", "failed"],
            "description": "Current verification state"
          },
          "ses_dkim_status": {
            "type": ["string", "null"],
            "description": "SES DKIM status (pending/success/failed/temporary_failure/not_started)"
          },
          "verified_at": {
            "type": ["string", "null"],
            "description": "ISO 8601 timestamp of last successful verification"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          },
          "mailbox_count": {
            "type": "integer",
            "minimum": 0,
            "description": "Active mailboxes currently using this domain",
            "example": 14
          },
          "dns_records": {
            "$ref": "#/components/schemas/MailboxDomainDnsRecords"
          }
        },
        "required": [
          "id",
          "domain",
          "verification_status",
          "ses_dkim_status",
          "verified_at",
          "created_at",
          "mailbox_count",
          "dns_records"
        ]
      },
      "MailboxDomainVerifyChecks": {
        "type": "object",
        "properties": {
          "mx": {
            "type": "boolean",
            "description": "MX record present with priority 10 pointing at mail.sendmux.ai"
          },
          "verification_txt": {
            "type": "boolean",
            "description": "Ownership TXT record present with correct value"
          },
          "spf": {
            "type": "boolean",
            "description": "SPF TXT record matches expected value"
          },
          "dmarc": {
            "type": "boolean",
            "description": "DMARC TXT record matches expected value"
          }
        },
        "required": ["mx", "verification_txt", "spf", "dmarc"]
      },
      "MailboxDomainVerifyResult": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": ["verified", "pending"],
            "description": "Post-check verification status"
          },
          "ses_dkim_status": {
            "type": "string",
            "description": "Latest SES DKIM status from AWS"
          },
          "checks": {
            "$ref": "#/components/schemas/MailboxDomainVerifyChecks"
          }
        },
        "required": ["status", "ses_dkim_status", "checks"]
      },
      "MailboxSendScope": {
        "type": ["object", "null"],
        "properties": {
          "type": {
            "type": "string",
            "enum": ["all", "providers", "group"],
            "description": "Outbound routing strategy. `all` lets the mailbox use any team-configured provider; `providers` restricts to the listed provider IDs; `group` routes via a delivery group."
          },
          "provider_public_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Provider public IDs (only when type=providers)"
          },
          "group_public_ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "Delivery group public IDs (only when type=group)"
          }
        },
        "required": ["type"]
      },
      "Mailbox": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Public ID",
            "example": "mbx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "email": {
            "type": "string",
            "description": "Mailbox email address (lowercase)",
            "example": "agent@acme.com"
          },
          "display_name": {
            "type": ["string", "null"],
            "description": "Optional display name shown in outbound From headers"
          },
          "quota_bytes": {
            "type": ["integer", "null"],
            "description": "Storage quota in bytes"
          },
          "send_scope": {
            "$ref": "#/components/schemas/MailboxSendScope"
          },
          "status": {
            "type": "string",
            "description": "active | suspended | deleted",
            "example": "active"
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp"
          }
        },
        "required": [
          "id",
          "email",
          "display_name",
          "quota_bytes",
          "send_scope",
          "status",
          "created_at"
        ]
      },
      "MailboxCredential": {
        "type": ["object", "null"],
        "properties": {
          "public_id": {
            "type": "string",
            "description": "Credential public ID",
            "example": "smx_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "secret": {
            "type": "string",
            "description": "Mailbox credential — shown exactly once. Use as a Bearer token on the HTTP API and as the password for IMAP retrieval and SMTP submission."
          },
          "key_prefix": {
            "type": "string"
          },
          "key_suffix": {
            "type": "string"
          },
          "server": {
            "type": "string",
            "description": "Mailbox host",
            "example": "mail.sendmux.ai"
          },
          "imap_port": {
            "type": "integer",
            "description": "IMAP retrieval port",
            "example": 993
          },
          "smtp_port": {
            "type": "integer",
            "description": "SMTP submission port",
            "example": 587
          },
          "username": {
            "type": "string",
            "description": "Mailbox email address used as the login"
          }
        },
        "required": [
          "public_id",
          "secret",
          "key_prefix",
          "key_suffix",
          "server",
          "imap_port",
          "smtp_port",
          "username"
        ],
        "description": "Initial credential for the mailbox. `null` if credential generation failed — call POST /mailboxes/{id}/keys to retry."
      },
      "MailboxCreateResult": {
        "type": "object",
        "properties": {
          "mailbox": {
            "$ref": "#/components/schemas/Mailbox"
          },
          "credential": {
            "$ref": "#/components/schemas/MailboxCredential"
          },
          "warning": {
            "type": ["string", "null"],
            "description": "Optional warning string when the mailbox was created without an initial credential"
          }
        },
        "required": ["mailbox", "credential", "warning"]
      },
      "UpdateMailboxBody": {
        "type": "object",
        "properties": {
          "display_name": {
            "type": ["string", "null"],
            "minLength": 1,
            "maxLength": 255
          },
          "quota_bytes": {
            "type": "integer",
            "minimum": 1
          },
          "send_scope": {
            "type": "object",
            "properties": {
              "type": {
                "type": "string",
                "enum": ["all", "providers", "group"]
              },
              "provider_public_ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                }
              },
              "group_public_ids": {
                "type": "array",
                "items": {
                  "type": "string",
                  "minLength": 1,
                  "maxLength": 128
                }
              }
            },
            "required": ["type"],
            "additionalProperties": false
          }
        },
        "additionalProperties": false
      },
      "MailboxAppPasswordResult": {
        "type": "object",
        "properties": {
          "credential": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MailboxCredential"
              },
              {
                "type": "object"
              }
            ]
          }
        },
        "required": ["credential"]
      },
      "MailboxMe": {
        "allOf": [
          {
            "$ref": "#/components/schemas/Mailbox"
          },
          {
            "type": "object",
            "properties": {
              "quota_used_bytes": {
                "type": "integer",
                "description": "Live storage usage in bytes. Omitted when usage is temporarily unavailable."
              }
            }
          }
        ]
      },
      "MailboxAddress": {
        "type": ["object", "null"],
        "properties": {
          "email": {
            "type": "string",
            "format": "email",
            "example": "agent@example.com"
          },
          "name": {
            "type": ["string", "null"],
            "example": "Support"
          }
        },
        "required": ["email", "name"]
      },
      "MailboxMessageFlags": {
        "type": "object",
        "properties": {
          "seen": {
            "type": "boolean"
          },
          "flagged": {
            "type": "boolean"
          },
          "draft": {
            "type": "boolean"
          },
          "answered": {
            "type": "boolean"
          }
        },
        "required": ["seen", "flagged", "draft", "answered"]
      },
      "MailboxMessageSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "thread_id": {
            "type": ["string", "null"]
          },
          "folder_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "subject": {
            "type": ["string", "null"]
          },
          "preview": {
            "type": ["string", "null"]
          },
          "from": {
            "$ref": "#/components/schemas/MailboxAddress"
          },
          "to": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "cc": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "received_at": {
            "type": ["string", "null"]
          },
          "sent_at": {
            "type": ["string", "null"]
          },
          "size_bytes": {
            "type": ["integer", "null"]
          },
          "has_attachments": {
            "type": "boolean"
          },
          "flags": {
            "$ref": "#/components/schemas/MailboxMessageFlags"
          }
        },
        "required": [
          "id",
          "thread_id",
          "folder_ids",
          "subject",
          "preview",
          "from",
          "to",
          "cc",
          "bcc",
          "received_at",
          "sent_at",
          "size_bytes",
          "has_attachments",
          "flags"
        ]
      },
      "MailboxRawBody": {
        "type": ["object", "null"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "thread_id": {
            "type": ["string", "null"]
          },
          "part": {
            "type": "string",
            "enum": ["text", "html", "both"]
          },
          "body": {
            "type": "object",
            "properties": {
              "text": {
                "type": ["string", "null"]
              },
              "html": {
                "type": ["string", "null"]
              },
              "is_truncated": {
                "type": "boolean"
              },
              "truncated_at_chars": {
                "type": ["integer", "null"]
              }
            },
            "required": ["text", "html", "is_truncated", "truncated_at_chars"]
          },
          "states": {
            "type": "object",
            "properties": {
              "email_state": {
                "type": ["string", "null"]
              }
            },
            "required": ["email_state"]
          }
        },
        "required": ["id", "thread_id", "part", "body", "states"]
      },
      "MailboxContentHeaders": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["none", "selected", "full"]
          },
          "selected": {
            "type": ["object", "null"],
            "properties": {
              "message_id": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "in_reply_to": {
                "type": ["string", "null"]
              },
              "references": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              },
              "reply_to": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MailboxAddress"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "required": ["message_id", "in_reply_to", "references", "reply_to"]
          },
          "full": {
            "type": ["array", "null"],
            "items": {
              "type": "object",
              "properties": {
                "name": {
                  "type": "string"
                },
                "value": {
                  "type": "string"
                }
              },
              "required": ["name", "value"]
            }
          }
        },
        "required": ["mode", "selected", "full"]
      },
      "MailboxAttachment": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Attachment ID"
          },
          "filename": {
            "type": ["string", "null"]
          },
          "content_type": {
            "type": "string",
            "example": "application/pdf"
          },
          "size_bytes": {
            "type": ["integer", "null"]
          },
          "disposition": {
            "type": ["string", "null"]
          },
          "content_id": {
            "type": ["string", "null"]
          },
          "download_url": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "filename",
          "content_type",
          "size_bytes",
          "disposition",
          "content_id"
        ]
      },
      "MailboxMessageContent": {
        "type": ["object", "null"],
        "properties": {
          "id": {
            "type": "string",
            "description": "Message ID"
          },
          "thread_id": {
            "type": ["string", "null"]
          },
          "subject": {
            "type": ["string", "null"]
          },
          "participants": {
            "type": "object",
            "properties": {
              "from": {
                "$ref": "#/components/schemas/MailboxAddress"
              },
              "to": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MailboxAddress"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              },
              "cc": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MailboxAddress"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              },
              "bcc": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MailboxAddress"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              },
              "reply_to": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MailboxAddress"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              }
            },
            "required": ["from", "to", "cc", "bcc", "reply_to"]
          },
          "dates": {
            "type": "object",
            "properties": {
              "received_at": {
                "type": ["string", "null"]
              },
              "sent_at": {
                "type": ["string", "null"]
              }
            },
            "required": ["received_at", "sent_at"]
          },
          "body": {
            "type": "object",
            "properties": {
              "format": {
                "type": ["string", "null"],
                "enum": ["text", "html"]
              },
              "text": {
                "type": ["string", "null"]
              },
              "html": {
                "type": ["string", "null"],
                "description": "HTML body when requested. Returned as a JSON string and not as rendered content."
              },
              "is_truncated": {
                "type": "boolean"
              },
              "truncated_at_chars": {
                "type": ["integer", "null"]
              },
              "signature_stripped": {
                "type": "boolean"
              },
              "quotes_stripped": {
                "type": "boolean"
              },
              "extracted_links": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": [
              "format",
              "text",
              "html",
              "is_truncated",
              "truncated_at_chars",
              "signature_stripped",
              "quotes_stripped",
              "extracted_links"
            ]
          },
          "headers": {
            "$ref": "#/components/schemas/MailboxContentHeaders"
          },
          "attachments": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxAttachment"
            },
            "description": "Attachment metadata only. Attachment contents are not parsed by this endpoint."
          },
          "states": {
            "type": "object",
            "properties": {
              "email_state": {
                "type": ["string", "null"]
              },
              "option_hash": {
                "type": "string"
              }
            },
            "required": ["email_state", "option_hash"]
          }
        },
        "required": [
          "id",
          "thread_id",
          "subject",
          "participants",
          "dates",
          "body",
          "headers",
          "attachments",
          "states"
        ]
      },
      "MailboxBatchGetItem": {
        "type": "object",
        "properties": {
          "message": {
            "$ref": "#/components/schemas/MailboxMessageSummary"
          },
          "raw_body": {
            "$ref": "#/components/schemas/MailboxRawBody"
          },
          "content": {
            "$ref": "#/components/schemas/MailboxMessageContent"
          }
        },
        "required": ["message", "raw_body", "content"]
      },
      "MailboxBatchGetResult": {
        "type": "object",
        "properties": {
          "messages": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxBatchGetItem"
            }
          },
          "not_found": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "states": {
            "type": "object",
            "properties": {
              "email_state": {
                "type": ["string", "null"]
              }
            },
            "required": ["email_state"]
          }
        },
        "required": ["messages", "not_found", "states"]
      },
      "MailboxBatchGetBody": {
        "type": "object",
        "properties": {
          "ids": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "minItems": 1,
            "maxItems": 100
          },
          "body_mode": {
            "type": "string",
            "enum": ["none", "raw", "clean_json"]
          },
          "part": {
            "type": "string",
            "enum": ["auto", "text", "html", "both"]
          },
          "max_body_chars": {
            "type": "integer",
            "minimum": 1,
            "maximum": 1000000
          },
          "strip_signature": {
            "type": "boolean"
          },
          "strip_quotes": {
            "type": "boolean"
          },
          "include_links": {
            "type": "boolean"
          },
          "include_html": {
            "type": "boolean"
          },
          "include_headers": {
            "type": "string",
            "enum": ["none", "selected", "full"]
          },
          "include_attachments": {
            "type": "string",
            "enum": ["none", "metadata"]
          }
        },
        "required": ["ids"]
      },
      "MailboxMessageCount": {
        "type": "object",
        "properties": {
          "total": {
            "type": "integer"
          },
          "sync_state": {
            "type": ["string", "null"]
          }
        },
        "required": ["total", "sync_state"]
      },
      "MailboxSearchSnippet": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string"
          },
          "subject": {
            "type": ["string", "null"],
            "description": "Subject snippet. May include mark tags."
          },
          "preview": {
            "type": ["string", "null"],
            "description": "Body preview snippet. May include mark tags."
          }
        },
        "required": ["message_id", "subject", "preview"]
      },
      "MailboxSearchSnippetsResult": {
        "type": "object",
        "properties": {
          "snippets": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/MailboxSearchSnippet"
            }
          },
          "not_found": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "sync_state": {
            "type": ["string", "null"]
          }
        },
        "required": ["snippets", "not_found", "sync_state"]
      },
      "SendMailboxMessageResult": {
        "type": "object",
        "properties": {
          "message_id": {
            "type": "string"
          },
          "status": {
            "type": "string",
            "enum": ["queued"]
          }
        },
        "required": ["message_id", "status"]
      },
      "SendMailboxMessageBody": {
        "type": "object",
        "properties": {
          "from": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MailboxAddress"
              },
              {
                "type": "object"
              }
            ]
          },
          "to": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            },
            "minItems": 1
          },
          "cc": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "bcc": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "reply_to": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "subject": {
            "type": "string"
          },
          "text_body": {
            "type": "string"
          },
          "html_body": {
            "type": "string"
          },
          "custom_headers": {
            "type": "object",
            "additionalProperties": {
              "type": "string"
            }
          },
          "attachments": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "filename": {
                  "type": "string"
                },
                "content_type": {
                  "type": "string"
                },
                "content": {
                  "type": "string",
                  "description": "Base64-encoded attachment content."
                }
              },
              "required": ["filename", "content_type", "content"]
            }
          }
        },
        "required": ["to", "subject"]
      },
      "MailboxMessage": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MailboxMessageSummary"
          },
          {
            "type": "object",
            "properties": {
              "text_body": {
                "type": ["string", "null"]
              },
              "html_body": {
                "type": ["string", "null"]
              },
              "attachments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/MailboxAttachment"
                }
              }
            },
            "required": ["text_body", "html_body", "attachments"]
          }
        ]
      },
      "PatchMailboxMessageBody": {
        "type": "object",
        "properties": {
          "seen": {
            "type": "boolean"
          },
          "flagged": {
            "type": "boolean"
          }
        }
      },
      "MailboxThreadSummary": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Thread ID"
          },
          "subject": {
            "type": ["string", "null"]
          },
          "message_count": {
            "type": "integer"
          },
          "unread_count": {
            "type": "integer"
          },
          "has_attachments": {
            "type": "boolean"
          },
          "folder_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "participants": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxAddress"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "last_message": {
            "allOf": [
              {
                "$ref": "#/components/schemas/MailboxMessageSummary"
              },
              {
                "type": ["object", "null"]
              }
            ]
          },
          "states": {
            "type": "object",
            "properties": {
              "thread_state": {
                "type": ["string", "null"]
              },
              "email_state": {
                "type": ["string", "null"]
              }
            },
            "required": ["thread_state", "email_state"]
          }
        },
        "required": [
          "id",
          "subject",
          "message_count",
          "unread_count",
          "has_attachments",
          "folder_ids",
          "participants",
          "last_message",
          "states"
        ]
      },
      "MailboxThread": {
        "allOf": [
          {
            "$ref": "#/components/schemas/MailboxThreadSummary"
          },
          {
            "type": "object",
            "properties": {
              "message_ids": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "required": ["message_ids"]
          }
        ]
      },
      "MailboxThreadContentResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean",
            "enum": [true]
          },
          "data": {
            "type": "array",
            "items": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MailboxMessageContent"
                },
                {
                  "type": "object"
                }
              ]
            }
          },
          "pagination": {
            "type": "object",
            "properties": {
              "has_more": {
                "type": "boolean"
              },
              "next_cursor": {
                "type": "string"
              }
            },
            "required": ["has_more"]
          },
          "meta": {
            "type": "object",
            "properties": {
              "request_id": {
                "type": "string"
              },
              "thread_id": {
                "type": "string"
              },
              "participants": {
                "type": "array",
                "items": {
                  "allOf": [
                    {
                      "$ref": "#/components/schemas/MailboxAddress"
                    },
                    {
                      "type": "object"
                    }
                  ]
                }
              },
              "states": {
                "type": "object",
                "properties": {
                  "thread_state": {
                    "type": ["string", "null"]
                  },
                  "email_state": {
                    "type": ["string", "null"]
                  },
                  "option_hash": {
                    "type": "string"
                  }
                },
                "required": ["thread_state", "email_state", "option_hash"]
              }
            },
            "required": ["request_id", "thread_id", "participants", "states"]
          }
        },
        "required": ["ok", "data", "pagination", "meta"]
      },
      "MailboxFolder": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Folder ID"
          },
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": ["string", "null"]
          },
          "role": {
            "type": ["string", "null"],
            "description": "System role when the folder is a built-in folder."
          },
          "sort_order": {
            "type": ["integer", "null"]
          },
          "total_messages": {
            "type": "integer"
          },
          "unread_messages": {
            "type": "integer"
          }
        },
        "required": [
          "id",
          "name",
          "parent_id",
          "role",
          "sort_order",
          "total_messages",
          "unread_messages"
        ]
      },
      "CreateMailboxFolderBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": ["string", "null"]
          },
          "sort_order": {
            "type": "integer"
          }
        },
        "required": ["name"]
      },
      "MailboxChanges": {
        "type": "object",
        "properties": {
          "old_state": {
            "type": ["string", "null"]
          },
          "new_state": {
            "type": "string"
          },
          "has_more": {
            "type": "boolean"
          },
          "created": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updated": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "destroyed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "updated_properties": {
            "type": "array",
            "items": {
              "type": "string"
            }
          }
        },
        "required": [
          "old_state",
          "new_state",
          "has_more",
          "created",
          "updated",
          "destroyed"
        ]
      },
      "MailboxFolderQueryChanges": {
        "type": "object",
        "properties": {
          "old_query_state": {
            "type": ["string", "null"]
          },
          "new_query_state": {
            "type": "string"
          },
          "has_more": {
            "type": "boolean"
          },
          "removed": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "added": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "id": {
                  "type": "string"
                },
                "index": {
                  "type": "integer"
                }
              },
              "required": ["id", "index"]
            }
          },
          "total": {
            "type": ["integer", "null"]
          }
        },
        "required": [
          "old_query_state",
          "new_query_state",
          "has_more",
          "removed",
          "added",
          "total"
        ]
      },
      "PatchMailboxFolderBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "parent_id": {
            "type": ["string", "null"]
          },
          "sort_order": {
            "type": "integer"
          }
        }
      },
      "MailboxTypedChanges": {
        "type": "object",
        "properties": {
          "types": {
            "type": "object",
            "properties": {
              "messages": {
                "$ref": "#/components/schemas/MailboxChanges"
              },
              "folders": {
                "$ref": "#/components/schemas/MailboxChanges"
              },
              "threads": {
                "$ref": "#/components/schemas/MailboxChanges"
              }
            }
          }
        },
        "required": ["types"]
      },
      "FilterRule": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "enum": ["allow", "deny"],
            "description": "Rule type"
          },
          "pattern": {
            "type": "string",
            "description": "Email address or bare domain name. Validated against RFC 5321/1035 regexes.",
            "example": "partner.com"
          },
          "note": {
            "type": ["string", "null"],
            "maxLength": 255,
            "description": "Free-form caption for the rule (≤255 chars). UI-only metadata — never consulted at match time. `null` when absent.",
            "example": "billing webhooks"
          }
        },
        "required": ["type", "pattern"]
      },
      "FilterState": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["off", "allowlist", "denylist"],
            "description": "Active filtering mode. `off` disables filtering (all senders accepted). `allowlist` only accepts senders matching a rule. `denylist` blocks senders matching a rule."
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterRule"
            },
            "description": "Current rules, sorted by pattern ascending"
          }
        },
        "required": ["mode", "rules"]
      },
      "SetFilterStateBody": {
        "type": "object",
        "properties": {
          "mode": {
            "type": "string",
            "enum": ["off", "allowlist", "denylist"]
          },
          "rules": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/FilterRule"
            },
            "maxItems": 1000,
            "description": "Replacement rule set. Maximum 1000 rules per request. An empty array is valid (no rules)."
          }
        },
        "required": ["mode", "rules"],
        "additionalProperties": false
      },
      "WebhookSubscription": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string",
            "description": "Webhook public ID",
            "example": "whk_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          },
          "name": {
            "type": ["string", "null"],
            "description": "Optional human-friendly label used in dashboard list/detail pages. May be `null` for subscriptions created without a name.",
            "example": "Acme inbound forwarder"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint that receives signed event POSTs.",
            "example": "https://hooks.acme.com/sendmux"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ses.bounce",
                "ses.complaint",
                "ses.delivery",
                "ses.reject",
                "ses.delivery_delay",
                "mail.inbound",
                "sendmux.test"
              ],
              "description": "Event types a webhook may subscribe to. `sendmux.test` is accepted so you can verify end-to-end delivery via POST /webhooks/{id}/test.",
              "example": "ses.bounce"
            },
            "description": "Event types this subscription receives.",
            "example": ["ses.bounce", "ses.complaint"]
          },
          "enabled": {
            "type": "boolean",
            "description": "When false, no events are delivered to this subscription.",
            "example": true
          },
          "failing": {
            "type": "boolean",
            "description": "True when the 24-hour retry window has been exhausted for this subscription. Reset by updating the subscription (e.g. fixing the URL) and re-enabling.",
            "example": false
          },
          "created_at": {
            "type": "string",
            "description": "ISO 8601 creation timestamp",
            "example": "2026-04-23T09:12:00Z"
          },
          "updated_at": {
            "type": "string",
            "description": "ISO 8601 last-modified timestamp",
            "example": "2026-04-23T09:12:00Z"
          }
        },
        "required": [
          "id",
          "name",
          "url",
          "event_types",
          "enabled",
          "failing",
          "created_at",
          "updated_at"
        ]
      },
      "WebhookSubscriptionWithSecret": {
        "allOf": [
          {
            "$ref": "#/components/schemas/WebhookSubscription"
          },
          {
            "type": "object",
            "properties": {
              "secret": {
                "type": "string",
                "description": "Signing secret used to verify the HMAC-SHA256 signature on every event POST. This is the ONLY response containing the raw secret — store it securely; it cannot be retrieved later. Use POST /webhooks/{id}/rotate-secret to issue a new one.",
                "example": "whsec_a9f3c2…"
              }
            },
            "required": ["secret"]
          }
        ]
      },
      "WebhookCreateBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "minLength": 1,
            "maxLength": 255,
            "description": "Optional human-friendly label (max 255 chars). Surfaced in dashboard list/detail views.",
            "example": "Acme inbound forwarder"
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "HTTPS endpoint that will receive event POSTs. Must be https:// — plain HTTP is rejected.",
            "example": "https://hooks.acme.com/sendmux"
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ses.bounce",
                "ses.complaint",
                "ses.delivery",
                "ses.reject",
                "ses.delivery_delay",
                "mail.inbound",
                "sendmux.test"
              ],
              "description": "Event types a webhook may subscribe to. `sendmux.test` is accepted so you can verify end-to-end delivery via POST /webhooks/{id}/test.",
              "example": "ses.bounce"
            },
            "minItems": 1,
            "description": "At least one event type must be provided.",
            "example": ["ses.bounce", "ses.complaint", "mail.inbound"]
          },
          "enabled": {
            "type": "boolean",
            "description": "Defaults to true.",
            "example": true
          }
        },
        "required": ["url", "event_types"],
        "additionalProperties": false
      },
      "WebhookUpdateBody": {
        "type": "object",
        "properties": {
          "name": {
            "type": ["string", "null"],
            "maxLength": 255,
            "description": "Replace the human-friendly label. Send `null` to clear it; omit to leave unchanged."
          },
          "url": {
            "type": "string",
            "format": "uri",
            "description": "New HTTPS endpoint. Must be https://."
          },
          "event_types": {
            "type": "array",
            "items": {
              "type": "string",
              "enum": [
                "ses.bounce",
                "ses.complaint",
                "ses.delivery",
                "ses.reject",
                "ses.delivery_delay",
                "mail.inbound",
                "sendmux.test"
              ],
              "description": "Event types a webhook may subscribe to. `sendmux.test` is accepted so you can verify end-to-end delivery via POST /webhooks/{id}/test.",
              "example": "ses.bounce"
            },
            "minItems": 1,
            "description": "Replaces the full event-type list. At least one must be provided."
          },
          "enabled": {
            "type": "boolean",
            "description": "When toggled from false to true, also clears the `failing` flag — retry deliveries resume on the next matching event."
          }
        },
        "additionalProperties": false
      },
      "WebhookTestResponse": {
        "type": "object",
        "properties": {
          "event_id": {
            "type": "string",
            "description": "The event_id attached to the X-Sendmux-Event-Id header of the test delivery.",
            "example": "evt_clxxxxxxxxxxxxxxxxxxxxxxxxx"
          }
        },
        "required": ["event_id"]
      }
    },
    "parameters": {}
  },
  "paths": {
    "/providers/stats": {
      "get": {
        "summary": "Get provider statistics",
        "description": "Returns aggregate counts of configured email providers with breakdowns by type and status.",
        "tags": ["Providers"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Provider statistics",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/ProviderStats"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/providers": {
      "get": {
        "summary": "List providers",
        "description": "Returns a paginated list of configured email providers with safe fields (no encrypted credentials). Uses cursor-based pagination ordered by created_at descending — pass `cursor=<next_cursor>` from the previous response to fetch the next page.",
        "tags": ["Providers"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Pagination cursor — the `next_cursor` from the previous response."
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["active", "inactive", "error", "pending"],
              "description": "Filter by status"
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["smtp", "gmail_api", "outlook_api"],
              "description": "Filter by provider type"
            },
            "required": false,
            "name": "type",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum results (default 50, max 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Provider list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/ProviderItem"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": ["has_more"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "pagination", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/emails/metrics": {
      "get": {
        "summary": "Get email metrics",
        "description": "Returns aggregated email delivery counts with flexible time windowing and comparison period.",
        "tags": ["Emails"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["24h", "7d", "30d"],
              "description": "Preset time window (default: 24h)"
            },
            "required": false,
            "name": "window",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 start date (overrides window)"
            },
            "required": false,
            "name": "from_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 end date"
            },
            "required": false,
            "name": "to_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["hourly", "daily"],
              "description": "Timeseries granularity (default: daily)"
            },
            "required": false,
            "name": "granularity",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by provider publicId"
            },
            "required": false,
            "name": "provider_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Email metrics with comparison",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/EmailMetrics"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/emails/logs": {
      "get": {
        "summary": "List delivery logs",
        "description": "Returns paginated delivery logs with cursor-based pagination and filters.",
        "tags": ["Emails"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Max results (default 25)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Cursor from previous page"
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": ["pending", "sent", "failed", "rejected"]
            },
            "required": false,
            "name": "status",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 start date"
            },
            "required": false,
            "name": "from_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "ISO 8601 end date"
            },
            "required": false,
            "name": "to_date",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Filter by provider publicId"
            },
            "required": false,
            "name": "provider_id",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "description": "Search to_email, from_email, sent_from_email, subject, message_id"
            },
            "required": false,
            "name": "search",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery log list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/DeliveryLogItem"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": ["has_more"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "pagination", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/emails/logs/{public_id}": {
      "get": {
        "summary": "Get delivery log",
        "description": "Returns a single delivery log by its public ID. Responses carry a weak `ETag` header — send it back as `If-None-Match` on the next request and the server will return `304 Not Modified` (no body) when the log has not changed. Logs in a terminal status (sent/failed/rejected) stop changing, so 304 replay is a real bandwidth win on repeated polls.",
        "tags": ["Emails"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Delivery log public ID (dlog_...)"
            },
            "required": true,
            "name": "public_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Weak ETag from a previous response. Returns 304 when unchanged."
            },
            "required": false,
            "name": "If-None-Match",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Delivery log detail",
            "headers": {
              "ETag": {
                "description": "Weak ETag for conditional GETs.",
                "schema": {
                  "type": "string",
                  "example": "W/\"a1b2c3d4e5f60718\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/DeliveryLogItem"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified — the client's cached copy (matching `If-None-Match`) is still current.",
            "headers": {
              "ETag": {
                "description": "Current weak ETag (same as request's `If-None-Match`).",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "404": {
            "description": "Not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/balance": {
      "get": {
        "summary": "Get current balance",
        "description": "Returns the current team balance and auto top-up configuration.",
        "tags": ["Billing"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Current balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/Balance"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/summary": {
      "get": {
        "summary": "Get spend summary",
        "description": "Returns a spend summary over a configurable lookback period.",
        "tags": ["Billing"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "enum": ["7", "30", "90"],
              "description": "Lookback period in days (default: 30)"
            },
            "required": false,
            "name": "days",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Spend summary",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/SpendSummary"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/billing/transactions": {
      "get": {
        "summary": "List transactions",
        "description": "Returns paginated credit transaction history with optional type filter. Uses cursor-based pagination ordered by created_at descending — pass `cursor=<next_cursor>` from the previous response to fetch the next page.",
        "tags": ["Billing"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Pagination cursor — the `next_cursor` from the previous response."
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Max results (default 25, max 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          },
          {
            "schema": {
              "type": "string",
              "enum": [
                "PURCHASE",
                "USAGE",
                "AUTO_TOPUP",
                "REFUND",
                "ADJUSTMENT"
              ]
            },
            "required": false,
            "name": "type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Transaction list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/Transaction"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": ["has_more"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "pagination", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/domains": {
      "get": {
        "summary": "List mailbox domains",
        "description": "Returns a cursor-paginated list of sending domains configured for the team, ordered by `created_at` descending. Each entry includes the DNS records the customer must place, the current verification status, and the SES DKIM state. Pass `cursor=<next_cursor>` from the previous response to fetch the next page.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Pagination cursor — the `next_cursor` from the previous response."
            },
            "required": false,
            "name": "cursor",
            "in": "query"
          },
          {
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "description": "Maximum results (default 50, max 100)"
            },
            "required": false,
            "name": "limit",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain list",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/MailboxDomain"
                      }
                    },
                    "pagination": {
                      "type": "object",
                      "properties": {
                        "has_more": {
                          "type": "boolean"
                        },
                        "next_cursor": {
                          "type": "string"
                        }
                      },
                      "required": ["has_more"]
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "pagination", "meta"]
                }
              }
            }
          },
          "401": {
            "description": "Authentication required",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "403": {
            "description": "Insufficient permissions",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Add a mailbox domain",
        "description": "Creates a new sending domain and returns the DNS records the customer must place before verification can succeed. Provisioning touches both our mail platform and Amazon SES — on any failure the partial state is automatically rolled back.\n\nSupply an `Idempotency-Key` header (any unique string, max 255 chars) to safely retry on network errors. Replays with the same key return the original response; replays with a different body return `409 idempotency_conflict`.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "maxLength": 255,
              "description": "Client-chosen unique key to safely retry the request. Cached for 24h per (team, endpoint, key). Different body with same key returns 409 idempotency_conflict.",
              "example": "domains-create-20260424-001"
            },
            "required": false,
            "name": "Idempotency-Key",
            "in": "header"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "domain": {
                    "type": "string",
                    "description": "Fully qualified domain name. Must be lowercased and hostname-only (no scheme).",
                    "example": "mail.acme.com"
                  }
                },
                "required": ["domain"],
                "additionalProperties": false
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Domain created. The response carries a `Location` header pointing at the canonical GET URL for the new domain.",
            "headers": {
              "Location": {
                "description": "Canonical GET URL for the newly created domain.",
                "schema": {
                  "type": "string",
                  "example": "/api/v1/domains/mdom_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MailboxDomain"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "400": {
            "description": "Invalid request body",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "409": {
            "description": "Domain already in use, or `Idempotency-Key` was replayed with a different body.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          },
          "503": {
            "description": "SES tenant not yet provisioned for this team",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      }
    },
    "/domains/{public_id}": {
      "get": {
        "summary": "Get a mailbox domain",
        "description": "Returns a single domain including its DNS records and latest verification state. Responses carry a weak `ETag` header — send it back as `If-None-Match` on the next request and the server will return `304 Not Modified` (no body) when the resource has not changed.",
        "tags": ["Domains"],
        "security": [
          {
            "bearerAuth": []
          }
        ],
        "parameters": [
          {
            "schema": {
              "type": "string",
              "description": "Domain public ID",
              "example": "mdom_clxxxxxxxxxxxxxxxxxxxxxxxxx"
            },
            "required": true,
            "name": "public_id",
            "in": "path"
          },
          {
            "schema": {
              "type": "string",
              "description": "Weak ETag from a previous response. Returns 304 when unchanged."
            },
            "required": false,
            "name": "If-None-Match",
            "in": "header"
          }
        ],
        "responses": {
          "200": {
            "description": "Domain",
            "headers": {
              "ETag": {
                "description": "Weak ETag for conditional GETs.",
                "schema": {
                  "type": "string",
                  "example": "W/\"a1b2c3d4e5f60718\""
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "ok": {
                      "type": "boolean",
                      "enum": [true]
                    },
                    "data": {
                      "$ref": "#/components/schemas/MailboxDomain"
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "request_id": {
                          "type": "string",
                          "example": "req_clxxxxxxxxxxxxxxxxxxxxxxxxx"
                        }
                      },
                      "required": ["request_id"]
                    }
                  },
                  "required": ["ok", "data", "meta"]
                }
              }
            }
          },
          "304": {
            "description": "Not Modified — the client's cached copy (matching `If-None-Match`) is still current.",
            "headers": {
              "ETag": {
                "description": "Current weak ETag (same as request's `If-None-Match`).",
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "404": {
            "description": "Domain not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiError"
                }
              }
            }
          }
        }
      },
[...]
