:root {
  font-size: 105%;
}

.antialiased {
  -webkit-font-smoothing: auto !important;
  -moz-osx-font-smoothing: auto !important;
}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6,
.prose h1, .prose h2, .prose h3,
.prose h4, .prose h5, .prose h6 {
  letter-spacing: var(--tracking-tight) !important;
}

body, .prose, .prose p, .prose li,
.prose td, .prose th, .prose blockquote {
  letter-spacing: 0.00625rem !important;
}

.eyebrow.h-5 {
  text-transform: uppercase;
  letter-spacing: 0.063em !important;
}

h3.sidebar-title,
#sidebar-title {
  display: flex;
  align-items: center;
  height: 1.75rem;
  color: oklch(0.345 0.006 264 / 60%);
  text-transform: uppercase;
  font-size: 0.7rem;
  font-weight: 400;
  letter-spacing: 0.044rem !important;
}

.dark h3.sidebar-title,
.dark #sidebar-title {
  color: oklch(0.985 0.001 106.423 / 60%);
}
